.commerceNumber,{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
}
.searchButton{
    background-color: transparent;
    color:#fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    background-image: url('../../../images/seleccionaComercio.png');
    background-repeat: no-repeat;
    width: 50px;
    margin-top: 2px;
}

.addCommerceButton{
    background-color: transparent;
    color:#fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    background-image: url('../../../images/seleccionaComercio.png');
    background-repeat: no-repeat;
    width: 50px;
}
.ddCommerceButton:hover
{
   opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.addCommerceToTabletButton{
    background-color: #505050;
    color:#fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    width: 105px;
}
.confirmButton{
    background-color: #505050;
    color:#fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    width: 125px;
}

div.mainCls {
    margin-top: 20px;
    height: 50px;
    position: relative;
    display:inline-block;
}
.mainCls>div {
    float: left;
    position: relative;
    height: 40%;
}
.textCls {
    width: 200px;
}
.submitCls {
    margin-left: 50px;
    width: 35px;
}
.fn_text_add_web_user
{
    text-align: center;
    position: relative;
    height: 20%;
}

.hidden
{
    display: none;
    margin-right: auto;
    margin-left: auto;
}
.centerComponentFN
{
    width: 100%;
    text-align: center;
}

.iframe_fn_viewElement
{
    text-align: center;
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:50%;
    left:50%;
    /*determinamos una anchura*/
    width:730px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-290px;
    /*determinamos una altura*/
    height:440px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-275px;
    border:1px solid #808080;
    padding:5px;
    background-color: #272b30;
}

.iframe_fn_addElement
{
    text-align: center;
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:50%;
    left:40%;
    /*determinamos una anchura*/
    width:1060px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-290px;
    /*determinamos una altura*/
    height:565px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-285px;
    border:1px solid #808080;
    padding:5px;
    background-color: #272b30;
}

.fn_viewElement_background
{
    background-color: #272b30;
}

.iframe_fn_working
{
    text-align: center;
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:50%;
    left:50%;
    /*determinamos una anchura*/
    width:580px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-290px;
    /*determinamos una altura*/
    height:470px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-235px;
    border:1px solid #808080;
    padding:5px;
    background-color: #FFFFFF;
}

.fn_buttons_admin_main_menu
{
    color: #D33642; 
    cursor:pointer; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

.fn_title_header_admin_main_menu
{
    width: 230px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

.fn_input_text_admin_main_menu
{
    line-height: 10px;
    width: 80%;
}

.fn_input_text_admin_main_menu_short
{
    width: 50%;
    display: inline-block;
}

#fn_button_add_commerce
{
    background-image: url('../../../images/button-add-commerce.png');
    width: 50px;
    height: 50px;
}

#dt {
    text-indent: -500px;
    height: 25px;
    width: 200px;
}

.fn_working_background
{
    background-color: #FFFFFF;
}

/* FN STYLES */
.FN_button_show_form_user
{

}

.FN_print_pdf1
{
    border: 1px solid;
    padding: 10px 10px 10px 10px;
    margin-right: 50px;
    margin-top: 50px;
    cursor: pointer;
}

.FN_print_pdf2
{
    border: 1px solid;
    padding: 12px 12px 12px 12px;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
}

.FN_print_pdf3
{
    border: 1px solid;
    padding: 12px 12px 12px 12px;
    margin-top: 50px;
    cursor: pointer;
}


.FN_button_show_form_user:hover
{
    cursor: pointer;
}

.FN_back_button
{
    color:#4A89DC;
    padding: -20px;
    font-weight: bold;
    font-size: 12px;
}

.FN_back_button:hover
{
    cursor: pointer;
    color: #DC3833;
}

.FN_button_show_form_admin
{
    color:#EC2931;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
.FN_table_button
{
    text-align: center;
    font: 10px arial;
    border: 1px solid;
    width: 110px;
    height: 30px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #3B3B3B;
    color: #FFF;
}
.FN_img_header
{
    /*cursor: pointer;*/
}

.FN_userLogin {
    position: absolute;
    top: 0;
    margin-top: 30px;
    right: 1.5%;
    text-align: center;
}

.FN_categories, .FN_product_box {
    padding: 8px;
    background: none repeat scroll 0 0 #f2f2f2;
}
.FN_block-title {
    background: none repeat scroll 0 0 #505050;
    padding: 8px 10px;
}
.FN_block-title span {
    font-size: 100%;
    line-height: normal;
    outline: none;
    color: #ffffff !important;
    font-weight: normal;
    text-transform: uppercase;
}

.FN_drop-down:after {
    content: '';
    display: table;
    clear: both;
}

.FN_drop-down label {
    margin-bottom: 0px;
    display: block;
    text-align: left;
    float: left;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 5px 15px;
    cursor: pointer;
    margin-right: 4px;
}
.FN_userData{
    color: #658CD6;
    font-weight: bold;
}

.FN_header-navigation-mobile-inner {
    background: #fff;
    box-shadow: rgba(0,0,0,0.05) 4px 0 2px;
    margin-right: 2%;

    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    z-index: 2000;
}

.FN_header-navigation-mobile header {
    background: #FC979C;
    min-height: 40px;
}
.FN_header-navigation-mobile footer {
    background: #FC979C;
    min-height: 110px;
}

.FN_header-navigation-mobile {
    background: rgba(255,255,255,0.5);
    min-height: 100%;
    transform: translate(-100%);
    transition: all ease-in .2s;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}
.FN_header-navigation-mobile:target {
    opacity: 1;
    transform: translate(0);
    z-index: 1000;
}

.FN_btn-subscribe {
    color: #fff;
    display: inline-block;
    font: 500 12px/1.4;
    margin: 10px 5px;
    text-decoration: none;
}
.FN_btn-subscribe:link {
    color: #fff;
}
.FN_btn-subscribe .icon-check {
    height: 13px;
    margin: 2px 5px;
    width: 10px;
    vertical-align: top;
}
.FN_btn-close {
    border: 0;
    background: none;
    color: #fff;
    font-size: 24px;
}
.FN_btn-close:hover {
    color: #fff;
    text-decoration: none;
}
.FN_header-navigation-mobile .btn-close {
    position: absolute;
    top: 0;
    right: 2%;
}
.FN_header-navigation-mobile-label {
    color: #8a9493;
    font: 500 12px/1.3;
    margin: 10px 10px 0;
    text-transform: uppercase;
}

.FN_header-navigation-mobile-list {
    /*overflow-y: scroll;*/
    margin: 10px 20px 30px;
    padding: 0;
}
.FN_header-navigation-mobile-list li {
    margin: 15px 0 0;
    list-style: none inside;
    padding: 0;

}
.FN_header-navigation-mobile-list li a {
    color: #444;
    font: 500 14px/1;
}
.FN_follow-us-label {
    color: #fff;
    display: block;
    font: 500 12px/1.5;
    margin: 28px 20px 0;
    text-transform: uppercase;
    float: left;
}
.FN_header-navigation-social-media {
    float: right;
    margin: 28px 10px 0;
    padding: 0;
}
.FN_header-navigation-social-media li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.FN_header-navigation-social-media li a {
    color: #fff;
}
.FN_main-menu-mobile {
    background: url(../../../images/menu_button.png) center center no-repeat;
    background-size: 100%;
    margin: 0px 10px 0px;
    height: 50px;
    width: 50px;
}
.FN_main-menu-mobile:hover{
    -webkit-box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    -ms-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}
.FN_darken{
    cursor: pointer;
}
.FN_darken:hover{
    background-color: #D5D2D2;
    padding: 5px 5px 5px 5px;
}
.FN_gmdq:hover{
    color:#EE373E;
}
#FN_edit
{
    width: 28px;
    height: 28px;
    background: url(../../../images/edit.png);
    background-size: 28px 28px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#FN_del
{
    width: 28px;
    height: 28px;
    background: url(../../../images/elimina.png);
    background-size: 28px 28px;
    background-repeat: no-repeat;
    cursor: pointer;
}