<div class="FN_userLogin">
    <img src="./images/perfil.jpg" style="width: 60px; height: 60px; border-radius: 35px;">
    <!--<a style="position: absolute; margin-top: 8px; " href="#header-navigation-mobile" class="FN_main-menu-mobile" aria-hidden="true" aria-label="FN_Menu principal"></a>-->
    <br>
    <div style="text-align: left; display: inline-block; margin-left: 10px; margin-top: 10px; font-weight: bold;">
        ADMINISTRADOR: 20-12345678-6 - IRMA EMILIA
    </div>
</div>