<script>

    function goAddWebUsers()
    {
        //closeElement('main_menu_login');
        showSectionContent('views/admin_form_add_web_users.html', 'content');
    }

    function close_admin_session()
    {
        closeElement('main_menu_login');
        window.location = WEB_TISH_URL+'index.html';
    }
  

</script>
<div align="center">
    <div class="FN_categories" style="width: 50%; display: inline-block; height: auto;">
        <div class="FN_block-title">
            <span class="fn_title_header_admin_main_menu">Opciones</span>
        </div>
        <div class="FN_drop-down" style="padding: 10px 10px 20px 10px; text-align: left; margin-left: 10px;">
            <div>
               <b style="font-size: 12px; font-weight: bold;"><a class="fn_buttons_admin_main_menu" onclick="goAddWebUsers()">Alta de usuarios Web</a></b>
            </div> <br>
            <div style="padding-top: 8px;">
                <b style="font-size: 12px; font-weight: bold;" onclick="showSectionContent('views/admin_form_edit_web_users.html', 'content');"><a class="fn_buttons_admin_main_menu">Edición de usuarios Web</a></b>
            </div> <br>
            <div style="padding-top: 8px;">
                <b style="font-size: 12px; font-weight: bold;" onclick="showSectionContent('views/admin_form_user_clear_key.html', 'content');"><a class="fn_buttons_admin_main_menu">Generación de nueva clave de acceso Web</a></b>
            </div> <br>
            <div style="padding-top: 8px;">
                <b style="font-size: 12px; font-weight: bold;" onclick="showSectionContent('views/admin_form_down_web_users.html', 'content');"><a class="fn_buttons_admin_main_menu">Baja de usuarios Web</a></b>
            </div> <br>
            <div style="padding-top: 8px;">
                <b style="font-size: 12px; font-weight: bold;" onclick="showSectionContent('views/admin_form_activate_web_users.html', 'content');"><a class="fn_buttons_admin_main_menu">Activación de usuarios Web</a></b>
            </div> <br>
            <div style="padding-top: 8px;">
                <b style="font-size: 12px; font-weight: bold;" onclick="showSectionContent('views/admin_listado_periodos_vencimiento.html', 'content');"><a class="fn_buttons_admin_main_menu">Abm de fechas de vencimiento</a></b>
            </div> <br>
            <div style="padding-top: 8px;">
                <u><b style="font-size: 13px; font-weight: bold; cursor: pointer;"><a onclick="close_admin_session();">Cerrar sesión</a></b></u>
            </div>
        </div>
    </div>
</div>