<script>
var countCommerAssignInTablecontrollerAdd = 0;
var countCommerAssignInTable = 0;
function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}

function getAllNumberTrade()
{
    var totalNumberTrades= ''; 
    for (i = 1; i <= countCommerAssignInTable; i++) 
    { 
        if ( document.getElementById(i).style.display == 'none' )
        {

        }
        else
        {
            var value = document.getElementById('number'+i).innerHTML;
            totalNumberTrades+= value+'|'
        }
    }
    return(totalNumberTrades);
}

function sendDataAddWebUsers()
{

    var cuit = document.getElementById('cuit').value;
    if (cuit == '')
    {
        alert("error, debe ingresar un Cuit");
        return;
    } 
    var razonSocial = document.getElementById('razonSocial').value;
    if (razonSocial == '')
    {
        alert("error, debe ingresar una Razon Social");
        return;
    }
    var personaContacto = document.getElementById('personaContacto').value;
    if (personaContacto == '')
    {
        alert("error, debe ingresar una Persona de Contacto");
        return;
    }
    var direccion = document.getElementById('direccion').value;
    if (direccion == '')
    {
        alert("error, debe ingresar una direccion");
        return;
    }
    var telefono = document.getElementById('telefono').value;
    if (telefono == '')
    {
        alert("error, debe ingresar unatelefono");
        return;
    }
    var email = document.getElementById('email').value;
    if (email == '')
    {
        alert("error, debe ingresar un email");
        return;
    }
    var email_empresa = document.getElementById('email_empresa').value;
    if (email_empresa == '')
    {
        alert("error, debe ingresar un email de empresa");
        return;
    }

    if (countCommerAssignInTablecontrollerAdd == 0)
    {
       alert("error, debe ingresar un comercio");
        return;
    }
    
    var totalNumberTrades =  getAllNumberTrade();
    var pDataManager = cuit+'|'+razonSocial+'|'+personaContacto+'|'+direccion+'|'+telefono+'|'+email+'|'+email_empresa+'|';

    var pDataTrade = totalNumberTrades;
    addWebUsers( pDataManager, pDataTrade, addWebUsersCallback, failWebUsers, workingDesignPopupLoginGMDQCallback)
}



$(document).ready(function(){
    $('.userCuit').mask("99-99999999-9");
    document.getElementById('userCuit').focus();
    footerPosition( 'footer', 1 );
});

</script>
<div align="center">
    <div class="FN_categories" style="width: 45%; display: inline-block; height: auto;">

        <div class="FN_block-title">
            <div onclick="showSectionContent('views/admin_main_menu.html', 'content')" style="color: #fff; font-weight: bold; cursor:pointer; margin-bottom: 5px;"><u><-Volver</u></div>
            <span class="fn_title_header_admin_main_menu">Baja de usuarios Web: Busque los datos a través del CUIT</span>
        </div>
        <div class="FN_drop-down" style="text-align: center;">

            <div class="mainCls">
                 <div class="textCls">
                    <input class="userCuit" placeholder="Ingrese CUIT" onkeydown="if(event.keyCode ==13) getDataLogin();" type="text" id="userCuit" />
                </div>
                <div style="margin-left: 10px;">
                    <input readonly class="searchButton" onclick="getDataCuit();" />
                </div>
            </div>

             <div class="FN_block-title">
            <span class="fn_title_header_admin_main_menu">Datos del Usuario Web</span>
        </div>
        <div class="FN_drop-down" style="text-align: center;">
            
            <div style="padding-top: 12px;">
                <b style="font-size: 12px; font-weight: bold;">Razón Social: </b><b id="idRazonSocial" style="font-size: 12px; font-weight: bold;"></b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">Contacto: </b><b id="idContacto" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">Dirección: </b><b id="idDireccion" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">Teléfono: </b><b id="idTelefono" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">E-Mail de contacto: </b><b id="idEmail" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">E-Mail de la empresa: </b><b id="idEmailEmpresa" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
        </div>

        <div align="center" style=" width: 100%; text-align: center; margin-bottom: 3px; margin-top: 10px; ">
            <input readonly class="addCommerceToTabletButton" value=" ACTIVAR USUARIO "  onclick="sendDataAddWebUsers();" style="width: 180px;" />
        </div>
        <div style="padding-top: 15px;">
            <u>
                <b style="font-size: 13px; font-weight: bold; cursor: pointer;">
                    <a onclick="close_admin_session();">
                        Cerrar sesión
                    </a>
                </b>
            </u>
        </div>    
    </div>


    <!--TODO: Popup GMDQ-WORKING -->
    <div id="divIframeViewLogin" class="iframe_fn_working" style="display: none;">
        <div class="fn_working_background">
            <div class="box-icon">
                <a onclick="closeElement('divIframeViewLogin');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <iframe id="iFrameView" width="550" height="430" src="../WEB-GMDQ-WORKING/workingGMDQ.html" scrolling="no" frameborder="no"></iframe>
        </div>
    </div>

</div>