<script>
function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}

function sendDataAddExpiredDates()
{
    var recurso = document.getElementById('resource').value;
    if (recurso == '')
    {
        alert("error, debe ingresar un Recurso");
        return;
    } 

    var anio = document.getElementById('year').value;
    if (anio == '')
    {
        alert("error, debe ingresar Año");
        return;
    }

    var cuota = document.getElementById('fee').value;
    if (cuota == '')
    {
        alert("error, debe ingresar un período, cuota");
        return;
    }

    var fechaVto1 = document.getElementById('expiredDate1').value;
    if (fechaVto1 == '')
    {
        alert("error, debe ingresar fecha de primer vencimiento");
        return;
    }
    fechaVto1 = formatDateCorrectForAdd(fechaVto1);

    var fechaVto2 = document.getElementById('expiredDate2').value;
    if (fechaVto2 == '')
    {
        alert("error, debe ingresar fecha de segundo vencimiento");
        return;
    }
    fechaVto2 = formatDateCorrectForAdd(fechaVto2);

    var fechaVtoPresentacion = document.getElementById('expiredDatePresentation').value;
    if (fechaVtoPresentacion == '')
    {
        alert("error, debe ingresar una fecha de vencimiento de presentacion");
        return;
    }
    fechaVtoPresentacion = formatDateCorrectForAdd(fechaVtoPresentacion);

    var pDataFechaVencimiento = recurso+'|'+anio+'|'+cuota+'|'+fechaVto1+'|'+fechaVto2+'|'+fechaVtoPresentacion+'|';
    
    addFechaVencimiento( pDataFechaVencimiento, addFechaVencimientoOkCallback, failAddFechaVencimiento, workingDesignPopupLoginGMDQCallback);
}

function addFechaVencimientoOkCallback(result_found, data)
{
    var response_data = data['content'][0]['DATA_FECHA_VENCIMIENTO']['ADD_RESPONSE'];
    if (response_data =='NO'){
        alert("Error, esta fecha y período ya existe.");
        return;
    }

    alert('Fecha de vencimiento agregada con éxito.');
    removeItemsForFechaVencimiento();
    showSectionContent('views/admin_listado_periodos_vencimiento.html');
}

function removeItemsForFechaVencimiento()
{
    document.getElementById('year').value = '';
    document.getElementById('fee').value = '';
    document.getElementById('expiredDate1').value = '';
    document.getElementById('expiredDate2').value = '';
    document.getElementById('expiredDatePresentation').value = '';
}

$(document).ready(function(){
   document.getElementById("year").focus();
});

</script>
<div align="center">
    <div class="FN_categories" style="width: 50%; display: inline-block; height: auto;">

        <div class="FN_block-title">
            <div onclick="showSectionContent('views/admin_listado_periodos_vencimiento.html', 'content')" style="color: #fff; font-weight: bold; cursor:pointer; margin-bottom: 5px;"><u><-Volver</u></div>
            <span class="fn_title_header_admin_main_menu">Alta de Fechas de Vencimiento</span>
        </div>
        <div class="FN_drop-down" style="text-align: center;">
            <div style="padding-top: 20px; width: 100%;">
                <j style="font-weight: bold;">Recurso</j>
               <input width="100px;" onkeypress="isNumber(event);" id="resource" onkeypress="return soloNumeros(event)" value="04" readonly class="resource" align="center" type="text" name="" placeholder="Recurso" style="color:#000; width: 9%; margin-left: auto; margin-right: auto; margin-top: 5px;">
            </div> <br>
            <div style="padding-top: 5px; width: 100%;">
                <j style="font-weight: bold;">Año</j>
                <input onkeypress="return soloNumeros(event)" maxlength="4" onkeypress="isNumber(event);" id="year" type="text" name="" placeholder="Año" class="fn_text_add_web_user" style="color:#000; margin-top: 5px; width: 15%; margin-left: auto; margin-right: auto;">
            </div> <br>
            <div style="padding-top: 5px; width: 100%;">
                <j style="font-weight: bold;">Período</j>
                <input onkeypress="return soloNumeros(event)" maxlength="2" id="fee" type="text" name="" placeholder="Período" class="fn_text_add_web_user" style="color:#000; margin-top: 5px; width: 20%; margin-left: auto; margin-right: auto;">
            </div> <br>
            <div style="padding-top: 5px; width: 100%;">
                <j style="font-weight: bold;">Fecha Vencimiento Período 1</j>
                <input id="expiredDate1" type="date" class="" style="color:#000; margin-top: 5px; width: 30%; margin-left: auto; margin-right: auto; height: 40px;">
            </div> <br>
            <div style="padding-top: 5px; width: 100%;">
                <j style="font-weight: bold;">Fecha Vencimiento Período 2</j>
                <input id="expiredDate2" type="date" style="color:#000; margin-top: 5px; height: 40px; width: 30%; margin-left: auto; margin-right: auto;">
            </div> <br>
            <div style="padding-top: 5px; width: 100%;">
                <j style="font-weight: bold;">Fecha Vencimiento DDJJ.</j>
                <input id="expiredDatePresentation" type="date" class="" style="color:#000; margin-top: 5px; height: 40px; width: 30%; margin-left: auto; margin-right: auto;">
            </div> <br>
        </div>
        <div onclick="sendDataAddExpiredDates();" align="center" style="width: 100%; text-align: center; margin: 20px 0px 35px 0px; " >
                <a align="center" class="FN_print_pdf3"  style="color: #D33642;"> Guardar los datos de Fecha de Vencimiento. </a>
        </div>
        <div class="FN_block-title">
            <span class="fn_title_header_admin_main_menu">- Sistema TISH -</span>
        </div>
        <!--<div style="padding-top: 20px;">
            <u>
                <b style="font-size: 13px; font-weight: bold; cursor: pointer;">
                    <a onclick="close_admin_session();">
                        Cerrar sesión
                    </a>
                </b>
            </u>
        </div>    -->
    </div>


    <!--TODO: Popup GMDQ-WORKING -->
    <div id="divIframeViewLogin" class="iframe_fn_working" style="display: none;">
        <div class="fn_working_background">
            <div class="box-icon">
                <a onclick="closeElement('divIframeViewLogin');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <iframe id="iFrameView" width="550" height="430" src="../WEB-GMDQ-WORKING/workingGMDQ.html" scrolling="no" frameborder="no"></iframe>
        </div>
    </div>

</div>