<script>
var countCommerAssignInTablecontrollerAdd = 0;
var countCommerAssignInTable = 0;
function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}

function getAllNumberTrade()
{
    var totalNumberTrades= ''; 
    for (i = 1; i <= countCommerAssignInTable; i++) 
    { 
        if ( document.getElementById(i).style.display == 'none' )
        {

        }
        else
        {
            var value = document.getElementById('number'+i).innerHTML;
            totalNumberTrades+= value+'|'
        }
    }
    return(totalNumberTrades);
}

function sendDataAddWebUsers()
{

    var cuit = document.getElementById('cuit').value;
    if (cuit == '')
    {
        alert("error, debe ingresar un Cuit");
        return;
    } 
    var razonSocial = document.getElementById('razonSocial').value;
    if (razonSocial == '')
    {
        alert("error, debe ingresar una Razon Social");
        return;
    }
    var personaContacto = document.getElementById('personaContacto').value;
    if (personaContacto == '')
    {
        alert("error, debe ingresar una Persona de Contacto");
        return;
    }
    var direccion = document.getElementById('direccion').value;
    if (direccion == '')
    {
        alert("error, debe ingresar una direccion");
        return;
    }
    var telefono = document.getElementById('telefono').value;
    if (telefono == '')
    {
        alert("error, debe ingresar unatelefono");
        return;
    }
    var email = document.getElementById('email').value;
    if (email == '')
    {
        alert("error, debe ingresar un email");
        return;
    }
    var email_empresa = document.getElementById('email_empresa').value;
    if (email_empresa == '')
    {
        alert("error, debe ingresar un email de empresa");
        return;
    }

    if (countCommerAssignInTablecontrollerAdd == 0)
    {
       alert("error, debe ingresar un comercio");
        return;
    }
    
    var totalNumberTrades =  getAllNumberTrade();
    var pDataManager = cuit+'|'+razonSocial+'|'+personaContacto+'|'+direccion+'|'+telefono+'|'+email+'|'+email_empresa+'|';

    var pDataTrade = totalNumberTrades;
    addWebUsers( pDataManager, pDataTrade, addWebUsersCallback, failWebUsers, workingDesignPopupLoginGMDQCallback)
}

function removeItemsForAddWebUsers(clave)
{
    var cuit = document.getElementById('cuit').value;
    var razonSocial = document.getElementById('razonSocial').value;
    var responsable = document.getElementById('personaContacto').value;
    var direccion = document.getElementById('direccion').value;
    var telefono = document.getElementById('telefono').value;
    var email = document.getElementById('email').value;
    var email_empresa = document.getElementById('email_empresa').value;
    var clave = clave;

    var MUNICIPIO = MUNICIPALITY;

    /*if ( clave == 'El usuario Web ya existe en el sistema.') 
    {
        alert('El usuario Web ya existe en el sistema.');
    }
    else
    {*/
        window.open(WEB_TISH_URL+'pdf/claveUsuarioWeb.php?cuit='+cuit+'&razonSocial='+razonSocial+'&responsable='+responsable+'&direccion='+direccion+'&telefono='+telefono+'&email='+email+'&clave='+clave+'&municipio='+MUNICIPIO, '_blank');
    //}

    document.getElementById('cuit').value = '';
    document.getElementById('razonSocial').value = '';
    document.getElementById('personaContacto').value = '';
    document.getElementById('direccion').value = '';
    document.getElementById('telefono').value = '';
    document.getElementById('email').value = '';
    document.getElementById('email_empresa').value = '';
    document.getElementById('tableAssignCommerce').innerHTML = '';
}

function removeCommerceInTable( numberField )
{
    document.getElementById(numberField).style.display = 'none';
    countCommerAssignInTablecontrollerAdd = countCommerAssignInTablecontrollerAdd -1;
}

function getTradeByNumber()
{
    var number_commerce = document.getElementById('numComercio').value;
    if (number_commerce == '')
    {
        alert('Error: debe ingresar un numero de comercio');
        return;
    }
    getAllTradeData ( number_commerce, assignUserToTable, tradeNotFound, workingDesignPopupLoginGMDQCallback );
}

function tradeNotFound()
{
    alert("COMERCIO NO ENCONTRADO");
}

function assignUserToTable( result_found, data )
{
   var number_commerce_found = data['content'][0]['DATOS_COMERCIO']['NRO_COMERCIO'];

   var name_trade_found = data['content'][0]['DATOS_COMERCIO']['NOMBRE_COMERCIO']

   if (number_commerce_found != '')
   {
       countCommerAssignInTable++;
       countCommerAssignInTablecontrollerAdd++;
       itemTemplate = '<tr style="text-align: left;" id="'+countCommerAssignInTable+'" >'
                        +'<td style="padding-left:10px; padding-bottom:5px; padding-top:2px;" id="number'+countCommerAssignInTable+'">'
                          +number_commerce_found
                        +'</td>'
                        +'<td style="padding-left:10px;" id="nameCommerce">'
                          +name_trade_found
                        +'</td>'
                        +'<td align="center" style="">'
                          +'<img style="cursor:pointer; padding-top:5px;" onclick="removeCommerceInTable('+countCommerAssignInTable+');" src="images/elimina-trans.png" height="20" width="20">'
                        +'</td>'
                      +'</tr>';

        document.getElementById('tableAssignCommerce').innerHTML += itemTemplate;
        document.getElementById('numComercio').value = '';
    }
    else
    {
        alert("Comercio no encontrado")
    }

}

$(document).ready(function(){
    $('.userCuit').mask("99-99999999-9");
    document.getElementById('userCuit').focus();
    footerPosition( 'footer', 1 );
});

</script>
<div align="center">
    <div class="FN_categories" style="width: 45%; display: inline-block; height: auto;">

        <div class="FN_block-title">
            <div onclick="showSectionContent('views/admin_main_menu.html', 'content')" style="color: #fff; font-weight: bold; cursor:pointer; margin-bottom: 5px;"><u><-Volver</u></div>
            <span class="fn_title_header_admin_main_menu">Edición de usuarios Web: Busque los datos a editar a través del CUIT</span>
        </div>
        <div class="FN_drop-down" style="text-align: center;">

            <div class="mainCls">
                 <div class="textCls">
                    <input class="userCuit" placeholder="Ingrese CUIT" onkeydown="if(event.keyCode ==13) getDataLogin();" type="text" id="userCuit" />
                </div>
                <div style="margin-left: 10px;">
                    <input readonly class="searchButton" onclick="getDataCuit();" />
                </div>
            </div>

            <div style="padding-top: 5px; width: 100%; ">
                <input readonly id="razonSocial" type="text" name="" placeholder="Razón social" class="fn_text_add_web_user" style="color:#000; width: 45%; margin-left: auto; margin-right: auto; ">
            </div> <br>

                    <div class="FN_block-title">
            <div onclick="showSectionContent('views/admin_main_menu.html', 'content')" style="color: #fff; font-weight: bold; cursor:pointer; margin-bottom: 5px;"></div>
            <span class="fn_title_header_admin_main_menu">Campos editables</span>
        </div>
            <div style="padding-top: 10px; width: 100%;">
                <input id="personaContacto" type="text" name="" placeholder="Persona de contacto" class="fn_text_add_web_user" style="color:#000; width: 45%; margin-left: auto; margin-right: auto;">
            </div> <br>
            <div style="padding-top: 2px; width: 100%;">
                <input id="direccion" type="text" name="" placeholder="Dirección" class="fn_text_add_web_user" style="color:#000; width: 46%; margin-left: auto; margin-right: auto;">
            </div> <br>
            <div style="padding-top: 2px; width: 100%;">
                <input id="telefono" type="text" name="" placeholder="Teléfono" class="fn_text_add_web_user" style="color:#000; width: 40%; margin-left: auto; margin-right: auto;">
            </div> <br>
            <div style="padding-top: 2px; width: 100%;">
                <input id="email" type="text" name="" placeholder="E-Mail del contacto" class="fn_text_add_web_user" style="color:#000; width: 46%; margin-left: auto; margin-right: auto;">
            </div> <br>
            <div style="padding-top: 2px; width: 100%;">
                <input id="email_empresa" type="text" name="" placeholder="E-Mail de la empresa" class="fn_text_add_web_user" style="color:#000; width: 46%; margin-left: auto; margin-right: auto;">
            </div> <br>
        </div>
        <div class="FN_block-title">
            <span class="fn_title_header_admin_main_menu">Agregar comercio</span>
        </div>
        <div class="mainCls">
            <div class="textCls">
                <input id="numComercio" onkeypress="return soloNumeros(event);" class="commerceNumber" value="" placeholder="Nº de Comercio." />
            </div>
            <div class="">
                <input readonly class="addCommerceButton" value=""  onclick="getTradeByNumber();" />
            </div>
        </div>
        <!--Table-->
        <table class="table" style="margin-bottom: 20px; border-bottom: 1px solid #fff; width: 100%;">
            <thead style="background: none repeat scroll 0 0 #505050; color: #ffffff !important; width: 100%;">
              <tr style="text-align: center;">
                <td style="font-weight: bold; text-align: left; padding-left: 10px;">N° DE COMERCIO</td>
                <td style="font-weight: bold; text-align: left; padding-left: 10px;">NOMBRE DE COMERCIO</td>
                <td style="font-weight: bold; text-align: center;">ELIMINAR</td>
              </tr>
            </thead>
            <tbody id="tableAssignCommerce" style="background-color: #FFF; text-align: center;">
            </tbody>
        </table>
        <div align="center" style="width: 100%; text-align: centar; margin-bottom: 40px; ">
            <input readonly class="addCommerceToTabletButton" value=" GUARDAR "  onclick="sendDataAddWebUsers();" />
        </div>
        <div style="padding-top: 8px;">
            <u>
                <b style="font-size: 13px; font-weight: bold; cursor: pointer;">
                    <a onclick="close_admin_session();">
                        Cerrar sesión
                    </a>
                </b>
            </u>
        </div>    
    </div>


    <!--TODO: Popup GMDQ-WORKING -->
    <div id="divIframeViewLogin" class="iframe_fn_working" style="display: none;">
        <div class="fn_working_background">
            <div class="box-icon">
                <a onclick="closeElement('divIframeViewLogin');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <iframe id="iFrameView" width="550" height="430" src="../WEB-GMDQ-WORKING/workingGMDQ.html" scrolling="no" frameborder="no"></iframe>
        </div>
    </div>

</div>