<script>
var countCommerAssignInTablecontrollerAdd = 0;
var countCommerAssignInTable = 0;

function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}
function close_admin_session()
    {
        closeElement('main_menu_login');
        showSectionContent('views/index_tish.html', 'content');
    }

function getDataManager()
{
   var pCuit = document.getElementById('userCuit').value;
    getManagerData( pCuit, fillDataManager, onError,  workingDesignPopupLoginGMDQCallback);
}

function onError(){
    alert("Datos no encontrados. Verifique el Número de CUIT.")
}

function fillDataManager( result_found, data )
{
 var cuit = data['content'][0]['MANAGER']['CUIT'];

 if (cuit == "")
 {
    alert("Error: Cuit no encontrado.");
 }
  document.getElementById("idCuit").innerHTML = data['content'][0]['MANAGER']['CUIT'];
  document.getElementById("idRazonSocial").innerHTML = data['content'][0]['MANAGER']['RAZON_SOCIAL'];
  document.getElementById("idContacto").innerHTML = data['content'][0]['MANAGER']['CONTACTO'];
  document.getElementById("idTelefono").innerHTML = data['content'][0]['MANAGER']['TELEFONO'];
  document.getElementById("idDireccion").innerHTML = data['content'][0]['MANAGER']['DIRECCION'];
  document.getElementById("idEmail").innerHTML = data['content'][0]['MANAGER']['EMAIL'];
  document.getElementById("idEmailEmpresa").innerHTML = data['content'][0]['MANAGER']['EMAIL_EMPRESA'];
  
}

function fillDataKey( result_found, data )
{ 
var key = data['content'][0]['MUNICIPALIDAD']['KEY'];
clearkeyPDF(key);
}

function sendDataClearKey()
{
    var pCuit = document.getElementById('idCuit').innerHTML;
    if (pCuit == '')
    {
        alert("Error, debe ingresar un Cuit");
        return;
    } 
    getClearedKey(pCuit, fillDataKey, failClearKey, workingDesignPopupLoginGMDQCallback)
}

function clearkeyPDF(pKEY) {


    var cuit = document.getElementById('idCuit').innerHTML;
    var razonSocial = document.getElementById('idRazonSocial').innerHTML;
    var responsable = document.getElementById('idContacto').innerHTML;
    var telefono = document.getElementById('idTelefono').innerHTML;
    var direccion = document.getElementById('idDireccion').innerHTML;
    var email = document.getElementById('idEmail').innerHTML;
    var email_empresa = document.getElementById('idEmailEmpresa').innerHTML;
    
    var clave = pKEY;
    var MUNICIPIO = MUNICIPALITY;
    window.open(WEB_TISH_URL+'pdf/claveUsuarioWeb.php?cuit='+cuit+'&razonSocial='+razonSocial+'&responsable='+responsable+'&direccion='+direccion+'&telefono='+telefono+'&email='+email+'&email_empresa='+email_empresa+'&clave='+clave+'&municipio='+MUNICIPIO+'&balqueo=1', '_blank');

}



$(document).ready(function(){
    $('.userCuit').mask("99-99999999-9");
    document.getElementById('idCuit').focus();
    footerPosition( 'footer', 1 );
});

</script>
<div align="center">
    <div class="FN_categories" style="width: 50%; display: inline-block; height: auto;">

        <div class="FN_block-title">
            <div onclick="showSectionContent('views/admin_main_menu.html', 'content')" style="color: #fff; font-weight: bold; cursor:pointer; margin-bottom: 5px;"><u><-Volver</u></div>
        </div>
        
        <div class="FN_block-title">
            <span class="fn_title_header_admin_main_menu">Blanqueo de Password de Usuario Web</span>
        </div>
        <div class="mainCls">
             <div class="textCls">
                <input class="userCuit" placeholder="Ingrese CUIT" onkeydown="if(event.keyCode ==13) getDataLogin();" type="text" id="userCuit" />
            </div>
            <div style="margin-left: 10px;">
                <input readonly class="searchButton" onclick="getDataManager();" />
            </div>
        </div>
        <!--Table-->
        <table class="table" style="margin-bottom: 20px; border-bottom: 1px solid #fff; width: 100%;">
            <tbody id="tableAssignCommerce" style="background-color: #FFF; text-align: center;">
            </tbody>
        </table>

        <div class="FN_block-title">
            <span class="fn_title_header_admin_main_menu">Datos del Usuario Web</span>
        </div>
        <div class="FN_drop-down" style="text-align: center;">
            <div style="padding-top: 20px;">
               <b style="font-size: 12px; font-weight: bold;">CUIT: </b> <b id="idCuit" style="font-size: 12px; font-weight: bold;"></b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">Razón Social: </b><b id="idRazonSocial" style="font-size: 12px; font-weight: bold;"></b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">Contacto: </b><b id="idContacto"style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">Dirección: </b><b id="idDireccion" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">Teléfono: </b><b id="idTelefono" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">E-Mail de contacto: </b><b id="idEmail" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
            <div style="padding-top: 5px;">
                <b style="font-size: 12px; font-weight: bold;">E-Mail de la empresa: </b><b id="idEmailEmpresa" style="font-size: 12px; font-weight: bold;">  </b>
            </div> <br>
        </div>

         <div class="FN_block-title">
            <span class="fn_title_header_admin_main_menu"></span>
        </div>
                <br>
        <div align="center" style="width: 100%; text-align: center; margin-bottom: 40px; ">
            <input readonly class="addCommerceToTabletButton" value=" Blanquear " style="width: 20%;" onclick="sendDataClearKey();" />
        </div>

        <div style="padding-top: 8px;">
            <u>
                <b style="font-size: 13px; font-weight: bold; cursor: pointer;">
                    <a onclick="close_admin_session();">
                        Cerrar sesión
                    </a>
                </b>
            </u>
        </div>    
    </div>


    <!--TODO: Popup GMDQ-WORKING -->
    <div id="divIframeViewLogin" class="iframe_fn_working" style="display: none;">
        <div class="fn_working_background">
            <div class="box-icon">
                <a onclick="closeElement('divIframeViewLogin');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <iframe id="iFrameView" width="550" height="430" src="../WEB-GMDQ-WORKING/workingGMDQ.html" scrolling="no" frameborder="no"></iframe>
        </div>
    </div>

</div>