<script>
    function incorrectLoginAdmin()
    {
        showElement('loginAdminIncorrect');
    }

    function workingDesignPopupLoginGMDQCallback()
    {
        showElement("divIframeViewLogin");
    }

    function showMessageFailLogin( elementId )
    {
        //document.getElementById(elementId).style.display = 'block';
        if (document.getElementById('userAdmin').value != '')
        {
            closeElement('failLoginAdminUser');
        }
        if (document.getElementById('passwordAdmin').value != '')
        {
            closeElement('failLoginAdminUserPass');
        }
    }

    function removeTextsLabelsFormAdmin()
    {
        closeElement('failLoginAdminUser');
        if ( document.getElementById('userAdmin').value != '' )
        {
            document.getElementById('labelUserAdmin').innerHTML = '';
        }
        else
        {
            document.getElementById('labelUserAdmin').innerHTML = 'USUARIO';
        }
        if ( document.getElementById('passwordAdmin').value != '' )
        {
            document.getElementById('labelUserAdminPass').innerHTML = '';
        }
        else
        {
           document.getElementById('labelUserAdminPass').innerHTML = 'CLAVE';
        }
    }

    function getDataUserAdminLogin()
    {
        showSectionContent('views/admin_main_menu.html', 'content');
    }

    $(document).ready(function ()
    {
        document.getElementById('userAdmin').focus();
    });

</script>
<form>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!--<u onclick="showSectionContent('views/index_tish.html', 'content');" class="FN_back_button" style="">Volver</u>-->
    <h1 align="center" style="padding: 10px; font-size: 18px;">Sistema TISH: Ingreso Administrador</h1>
    <div class="group">
        <input onchange="removeTextsLabelsFormAdmin()" onkeydown="if(event.keyCode ==13) getDataUserAdminLogin();" id="userAdmin"  type="text">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="labelUserAdmin">USUARIO</label>
        <div id="failLoginAdminUser" class="clearfix" style="display: none; color: #3160B6; text-align: center; margin-top: 5px;">Ingrese usuario</div>
    </div>
    <div class="group">
        <input onchange="removeTextsLabelsFormAdmin()" onkeydown="if(event.keyCode ==13) getDataUserAdminLogin();" id="passwordAdmin" type="password">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="labelUserAdminPass">CLAVE</label>
        <div id="failLoginAdminUserPass" class="clearfix" style="display: none; color: #3160B6; text-align: center; margin-top:5px;">Ingrese clave</div>
        <div id="loginAdminIncorrect" style="display: none; color: #FF0000; text-align: center; margin-top: 5px;">Datos incorrectos.</div>
    </div>
          <button class="g-recaptcha" id="buttonLogin" data-sitekey="6LfQ0DsUAAAAALazNwL2p6-SlRkaFwNOaAOrvtRc"
            data-callback="" onclick="getDataUserAdminLogin();">
            Ingresar
          </button>
    <!-- <button type="button" class="button buttonBlue" onclick="getDataUserAdminLogin();">Ingresar
        <div class="ripples buttonRipples">
            <span class="ripplesCircle"></span>
        </div>
    </button> -->
</form>