<script>

function sendDataDeleteExpiredDate( recurso, anio, cuota, fechaVto1, fechaVto2, fechaVtoPresentacion )
{
   //var test = document.getElementById("123").innerHTML;
  // alert(test);
    if (recurso == '')
    {
        alert("error, debe ingresar un Recurso");
        return;
    } 
    if (anio == '')
    {
        alert("error, debe ingresar Año");
        return;
    }
    if (cuota == '')
    {
        alert("error, debe ingresar un período, cuota");
        return;
    }
    if (fechaVto1 == '')
    {
        alert("error, debe ingresar fecha de primer vencimiento");
        return;
    }
    if (fechaVto2 == '')
    {
        alert("error, debe ingresar fecha de segundo vencimiento");
        return;
    }
    if (fechaVtoPresentacion == '')
    {
        alert("error, debe ingresar una fecha de vencimiento de presentacion");
        return;
    }

    var pDataFechaVencimiento = recurso+'|'+anio+'|'+cuota+'|'+fechaVto1+'|'+fechaVto2+'|'+fechaVtoPresentacion+'|';

    deleteFechaVencimiento( pDataFechaVencimiento, deleteFechaVencimientoOkCallback, failDeleteFechaVencimiento, workingDesignPopupLoginGMDQCallback)
}

function deleteFechaVencimientoOkCallback(result_found, data)
{
    alert('Fecha de vencimiento borrada con éxito.');
    getAllExpirationDates( '', fillDataExpirationDates, failGetAllExpirationDates,workingDesignPopupLoginGMDQCallback );
}


function openFilePdf(nombre){

    window.open(HOST_URL+'/files/'+nombre+'.pdf');
}

function fillDataExpirationDates( result_found, data )
{
    if (result_found > 0)
    {
      var itemTemplateHTML =  '<tr style="text-align: center;">'
                                   +'<td>|RECURSO|</td>'
                                   +'<td>|ANIO|</td>'
                                   +'<td>|CUOTA|</td>'
                                   +'<td id="123">|FEC_VTO1_CUOTA|</td>'
                                   +'<td>|FEC_VTO2_CUOTA|</td>'
                                   +'<td>|FEC_VTO_PRES_DJ|</td>'
                                   /*+'<td align="center"><div id="FN_edit"></div></td>'
                                   +'<td align="center"><div id="FN_del" onclick="sendDataDeleteExpiredDate(|RECURSO|,|ANIO|,|CUOTA|,|FEC_VTO1_CUOTA|,|FEC_VTO2_CUOTA|,|FEC_VTO_PRES_DJ| );"></div></td>'*/
                              +'</tr>';
        document.getElementById("contentListExpirationDates").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillExpirationDatesItem );
    }
    else
    {
        document.getElementById("contentListExpirationDates").innerHTML = "";
    }
}

function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}

$(document).ready(function ()
{
    getAllExpirationDates( '', fillDataExpirationDates, failGetAllExpirationDates,workingDesignPopupLoginGMDQCallback );
});
</script>
<link rel="stylesheet" href="assets/css/fn/jquery.dataTables.min.css" />
<link rel="stylesheet" href="assets/css/fn/table_responsive.css" />
<body style="margin:20px auto">
    <div class="container" style="height: auto;">
        <div class="row header" style="text-align:center; color:#3B3B3B;">
            <h4>Sistema TISH: Listado de períodos de vencimiento</h4>
        </div>
        <div id="listDatesExpiredTemplate">
            <table id="myTable" class="table" style="margin-top: 0px;">
                <!--<div class="FN_select">
                    <select style="cursor:pointer;">
                        <option value="">Seleccione período:</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                    </select>
                </div>-->
                <div onclick="showSectionContent('views/admin_main_menu.html', 'content')" style="color: #000; font-weight: bold; cursor:pointer; margin-bottom: 5px;"><u><-
                Volver</u>
                </div>
                <thead style="background-color: #3B3B3B; padding: 15px 15px 15px 15px; color: #FFf;">
                    <tr>
                        <th style="text-align: center;">Recurso</th>
                        <th style="text-align: center;">Año</th>
                        <th style="text-align: center;">Período</th>
                        <th style="text-align: center;">Fecha Vencimiento Período 1</th>
                        <th style="text-align: center;">Fecha Vencimiento Período 2</th>
                        <th style="text-align: center;">Fecha Vencimiento DDJJ.</th>
                        <!--<th style="text-align: center;">Editar</th>
                        <th style="text-align: center;">Eliminar</th>-->
                    </tr>
                </thead>
                <tbody style="background-color: #FFF;" id="contentListExpirationDates">
                </tbody>
                <tfoot style="background-color: #3B3B3B; padding: 15px 15px 15px 15px;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <!--<th></th>
                        <th></th>-->
                    </tr>
                </tfoot>
             </table>
        </div>
    </div>
    <div style="width: 100%; text-align: center; margin-bottom: 20px; margin-top: 10px;" >
                <a class="FN_print_pdf2" onclick="showSectionContent('views/admin_form_add_fechas_vencimiento.html', 'content')" style="color: #D33642;"> Cargar nueva fecha de vencimiento. </a>
    </div>
</body>
</html>