<script>
    function workingDesignPopupLoginGMDQCallback()
    {
        showElement("divIframeViewLogin");
    }

    function fillDataMunicipalidad(result_found, data)
    {
        var itemTemplateHTML = document.getElementById("templateFooterNameMunicipalidad").innerHTML;
        document.getElementById("viewFooterNameMunicipalidad").innerHTML = fillListWithTemplate(data, itemTemplateHTML, fillDataFooterItem);
        showElement('viewFooterNameMunicipalidad');
    }

    function goUrlMunicipalidad(url)
    {
        window.location = 'url';
    }

    $(document).ready(function ()
    {
        getDataFooter( fillDataMunicipalidad, failGetDataFooter,workingDesignPopupLoginGMDQCallback );
    });
</script>

<footer id="footer" style="position: absolute; width: 100%; height: 40px; padding-top: 5px;">
    <div id="viewFooterNameMunicipalidad"></div>
</footer>

<!-- TEMPLATE: MUNICIPALIDAD NAME -->
    <div id="templateFooterNameMunicipalidad" style="display: none;">
        <ul class="copyright">
            <li style=" cursor:pointer; color: #616f77; font-weight: bold;">&copy; |MUNICIPALIDAD_WEB|</li>
            <li style="color: #616f77; font-weight: bold;">Diseñado por: <a href="http://grupomdq.com" target="_blank" style="font-weight: bold; color: #658CD6;">Grupo MDQ S.A.</a></li>
        </ul>
    </div>
<!-- END -->

