<header align="center" style="padding-top: 20px; text-align: center;">
    <span class="avatar" style="width: 100%;">
        <div style="background-image: url(images/lincoln-logo.png);
        background-repeat: no-repeat; width:400px; height: 73px; margin-left: auto; margin-right: auto;"></div>
    </span>
    <p style="padding-top: 20px; font-size: 15px; margin-left: auto; margin-right: auto;">
        &nbsp; Sitio Web Municipal de Presentación de DD.JJ. &nbsp;
    </p>
</header>

