<style>
    .button {
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-weight: 100;
        font-family: "Segoe UI";
        letter-spacing: 1px;
    }
    .button:before {
        border-radius: 100px;
        border: 2px solid #468cdc;
        box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 110px;
        width: 110px;
        margin-left: -57px;
        margin-top: -57px;
        opacity: 1;
        transform: scale(1);
        transition: all 300ms;
    }
    .button:hover:before {
        transform: scale(1.05);
    }
    .button.circle {
        background: #23466e;
        border: none;
        border-radius: 900px;
        color: #e4ecfa;
        cursor: pointer;
        display: block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        position: relative;
        margin: auto;
        margin-top: 25px;
        transition: 0.5s;
    }
    .button.circle:hover {
        background: #3e70aa;
        padding: -2px;
    }
    .container {
        background-color: #05283c;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        overflow: auto;
    }
</style>
<!-- Main -->
<h1 align="center">SISTEMA TISH</h1>
 <div align="center">
    <section id="main" style="box-shadow: 5px 5px 25px #FF9CA1; border: 1px solid #FFBBBE;">
            <ul class="icons" title="Ingreso Usuarios">
                <li>
                    <h2>Ingreso usuarios</h2>
                    <div align="center">
                       <a onclick="showSectionContent('views/user_form_login.html', 'content')" class="FN_button_show_form_user"></a>
                    </div>
                </li>
            </ul>
    </section>
    <br>
     <p></p>
    <a onclick="showSectionContent('views/admin_form_login.html', 'content')" class="FN_button_show_form_admin">ingreso administrador</a>
 </div>

 <!--TODO: Popup GMDQ-WORKING -->
    <div id="divIframeViewLogin" class="iframe_fn_working" style="display: none;">
        <div class="fn_working_background">
            <div class="box-icon">
                <a onclick="closeElement('divIframeViewLogin');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <iframe id="iFrameView" width="550" height="430" src="../WEB-GMDQ-WORKING/workingGMDQ.html" scrolling="no" frameborder="no"></iframe>
        </div>
    </div>