<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
function incorrectLogin()
{
    showElement('loginIncorrect');
}

function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}

function showMessageFailLogin( elementId )
{
    document.getElementById(elementId).style.display = 'block';
    if (document.getElementById('userCuit').value != '')
    {
        document.getElementById('failLoginUserCuit').innerHTML = '';
        closeElement('failLoginUserCuit');
    }
    if (document.getElementById('userPass').value != '')
    {
        closeElement('failLoginUserPass');
    }
}


function removeTextsLabelsForm()
{

    /*closeElement('failLoginUserPass');*/
    if ( document.getElementById('userCuit').value != '' )
    {
        document.getElementById('labelCuit').innerHTML = '';
    }
    else
    {
        document.getElementById('labelCuit').innerHTML = 'CUIT';
    }
    if ( document.getElementById('userPass').value != '' )
    {
        document.getElementById('labelClave').innerHTML = '';
    }
    else
    {
        document.getElementById('labelClave').innerHTML = 'CLAVE';
    }
}

function getDataLogin()
{

    var userName =  document.getElementById('userCuit').value;

    var userPass =  document.getElementById('userPass').value;

    if ( userName == '' )
    {
        //document.getElementById('failLoginUserCuit').innerHTML = 'Ingrese cuit';
        showMessageFailLogin( 'failLoginUserCuit' );
        return;
    }
    if ( userPass == '' )
    {
        showMessageFailLogin( 'failLoginUserPass' );
        return;
    }

    /*var onSubmit = function(token) {
          console.log('success!');
        };*/
    userLoginContribuyentes(userName, userPass, userLoginCallback, failLoginUser, workingDesignPopupLoginGMDQCallback);
}

function userLoginCallback( result_found, data )
{
    cuit = document.getElementById('userCuit').value;
    var loginResponse = data['content'][0]['MUNICIPALIDAD']['LOGIN'];
    //alert( loginResponse );
    console.log( loginResponse );

    if (loginResponse == '||')
    {
      incorrectLogin();
    }
    else
    {   
        if(loginResponse.indexOf('|A|') != -1)
        {
            /*clave automatica*/
          showSectionContent('views/user_form_password_key_reenter.html', 'content');
          loadPage("./views/user_main_menu_opciones_acceso.html", "#main_menu_opciones_acceso");
          loadPage("./views/user_main_menu_login.html", "#main_menu_login");
        }
        else
        {
            /*clave personal*/
          showSectionContent('views/user_table_listado_comercios.html', 'content');
          loadPage("./views/user_main_menu_opciones_acceso.html", "#main_menu_opciones_acceso");
          loadPage("./views/user_main_menu_login.html", "#main_menu_login");
        }
    }
}

function validate()
{
    var userName =  document.getElementById('userCuit').value;
    validar_cuit(userName);
}

function captcha() 
{
    alert("");
   // grecaptcha.execute();
}

$(document).ready(function(){
    $('.userCuit').mask("99-99999999-9");
    document.getElementById('userCuit').focus();
});

</script>
    <form>
          <!--<u onclick="showSectionContent('views/index_tish.html', 'content');" class="FN_back_button" style="">Volver</u>-->
          <h4 align="center" style="padding: 10px; font-size: 18px;">Sistema TISH: Ingreso Contribuyentes</h4>
          <div class="group">
                <input class="userCuit" onfocusout="validar_cuit(this);" onchange="removeTextsLabelsForm()" onkeydown="if(event.keyCode ==13) getDataLogin();" type="text" id="userCuit">
                <span class="bar"></span>
                <label id="labelCuit">CUIT</label>
                <div id="failLoginUserCuit" class="clearfix" style="display: none; color: #3160B6; text-align: center; margin-top: 5px;"></div>
          </div>
          <div class="group">
                <input onchange="removeTextsLabelsForm()" onkeydown="if(event.keyCode ==13) getDataLogin();" type="password" id="userPass">
                <span class="bar"></span>
                <label id="labelClave">CLAVE</label>
                <div id="failLoginUserPass" class="clearfix" style="display: none; color: #3160B6; text-align: center; margin-top:5px;">Ingrese clave</div>
                <div id="loginIncorrect" style="display: none; color: #FF0000; text-align: center; margin-top: 5px;">Datos incorrectos.</div>
          </div>
          <button id="buttonLogin" onclick="">
            Ingresar
          </button>
    </form>
    
<div class="g-recaptcha" data-sitekey="6LfQ0DsUAAAAALazNwL2p6-SlRkaFwNOaAOrvtRc" data-callback="onSubmit" data-size="invisible"></div>

    <!--TODO: Popup GMDQ-WORKING -->
    <div id="divIframeViewLogin" class="iframe_fn_working" style="display: none;">
        <div class="fn_working_background">
            <div class="box-icon">
                <a onclick="closeElement('divIframeViewLogin');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <iframe id="iFrameView" width="550" height="430" src="../WEB-GMDQ-WORKING/workingGMDQ.html" scrolling="no" frameborder="no"></iframe>
        </div>
    </div>