<script>
//pNroComercio_numberCommerceForListDDJJ = 11500;
var firstMonthForSend;
var secondMonthForSend;
var result_found_for_data = 0;
var todayCompare;

function fillTodayPSH( result_found, data )
{
  document.getElementById("datePresentation").innerHTML = formatDateCorrectForAdd( data['content'][0]['TODAY'] );
  todayCompare = formatDateCorrectForAdd( data['content'][0]['TODAY'] );
}


function setCalculateMonth( numberResult )
{
   var monto_ingresos = document.getElementById("firstMonthTotalMontoIngresos"+numberResult).value;
   var monto_deducciones = document.getElementById("firstMonthTotalMontoDeducciones"+numberResult).value;

   var monto_imponible = monto_ingresos-monto_deducciones;

    document.getElementById("firstMonthMontoImponible"+numberResult).innerHTML = formato_evt( monto_imponible );

    var alicuota = document.getElementById("firstMonthAlicuota"+numberResult).innerHTML;

    var tasa_determinada = monto_imponible * (alicuota / 100);
    console.log('tasa determinada: '+tasa_determinada);
    document.getElementById("firstMonthTasaDeterminada"+numberResult).innerHTML = formato_evt( tasa_determinada );

    var minimo = document.getElementById("firstMonthMinimo"+numberResult).innerHTML;
    var tasa_total_pagar;
    if(minimo > tasa_determinada)
    {
      tasa_total_pagar = minimo;
    }
    else
    {
      tasa_total_pagar = tasa_determinada.toFixed(2);
    }
    document.getElementById("firstMonthTasaPagar"+numberResult).innerHTML = formato_evt( tasa_total_pagar );


    var monto_ingresosSecondMonth = document.getElementById("secondMonthTotalMontoIngresos"+numberResult).value;
    var monto_deduccionesSecondMonth = document.getElementById("secondMonthTotalMontoDeducciones"+numberResult).value;

    var monto_imponibleSecondMonth = monto_ingresosSecondMonth-monto_deduccionesSecondMonth;
    document.getElementById("secondMonthMontoImponible"+numberResult).innerHTML = formato_evt( monto_imponibleSecondMonth );

    var alicuotaSecondMonth = document.getElementById("secondMonthAlicuota"+numberResult).innerHTML;

    var tasa_determinadaSecondMonth = monto_imponibleSecondMonth * (alicuotaSecondMonth / 100);
    document.getElementById("secondMonthTasaDeterminada"+numberResult).innerHTML = formato_evt( tasa_determinadaSecondMonth );

    var minimoSecondMonth = document.getElementById("secondMonthMinimo"+numberResult).innerHTML;
    var tasa_total_pagarSecondMonth;
    if(minimo > tasa_determinadaSecondMonth)
    {
      tasa_total_pagarSecondMonth = minimoSecondMonth;
    }
    else
    {
      tasa_total_pagarSecondMonth = tasa_determinadaSecondMonth.toFixed(2);
    }
    document.getElementById("secondMonthTasaPagar"+numberResult).innerHTML = formato_evt( tasa_total_pagarSecondMonth );

    setPlusAll();
}

function setPlusAll()
{
  var plusAll = 0;
  for( f=1; f<=result_found_for_data; f++ )
      {
        var firstMonthValue = document.getElementById("firstMonthTasaPagar"+f).innerHTML;
        var secondMonthValue = document.getElementById("secondMonthTasaPagar"+f).innerHTML;

        firstMonthValue=replaceAll(firstMonthValue, ' ', '');
        firstMonthValue=replaceAll(firstMonthValue, '$', '');
        firstMonthValue=replaceAll(firstMonthValue, '.', '');
        firstMonthValue=replaceAll(firstMonthValue, ',', '.');

        secondMonthValue=replaceAll(secondMonthValue, ' ', '');
        secondMonthValue=replaceAll(secondMonthValue, '$', '');
        secondMonthValue=replaceAll(secondMonthValue, '.', '');
        secondMonthValue=replaceAll(secondMonthValue, ',', '.');

        

        plusAll = parseFloat(plusAll) + parseFloat(firstMonthValue);
        plusAll = parseFloat(plusAll) + parseFloat(secondMonthValue);
      }
      document.getElementById("tasaTotalPagar").value = formato_evt( plusAll );
}

function fillDataRubro( result_found, data )
{
    if (result_found > 0)
    {
      result_found_for_data = result_found;
      var itemTemplateHTML =  '<tr style="text-align: center;">'
                                 +'<td id="firstMonth|NUMBER RESULT|" style="padding-top: 15px; font-size: 11px;"></td>'
                                 +'<td style="padding-top: 15px; font-size: 11px;"><j id="firstMonthRubroNro|NUMBER RESULT|">|RUBRO_NRO|</j> &nbsp; <j id="firstMonthItem|NUMBER RESULT|">|RUBRO_ITEM|</j></td>'
                                 +'<td id="firstMonthDescr|NUMBER RESULT|" style="padding-top: 5px; font-size: 11px;">|RUBRO_DESCRIPCION|</td>'
                                 +'<td><input disabled id="firstMonthTotalMontoIngresos|NUMBER RESULT|" style="text-align: right; font-size: 11px; border-radius: 0px;" type="text" value="0.00" maxlength="10" onkeypress="return isNumberKey(event)" onfocusout="setCalculateMonth(|NUMBER RESULT|)"></td>'
                                 +'<td><input disabled id="firstMonthTotalMontoDeducciones|NUMBER RESULT|" style="text-align: right; font-size: 11px; border-radius: 0px;" type="text" value="0.00" onkeypress="return isNumberKey(event)" maxlength="10" onfocusout="setCalculateMonth(|NUMBER RESULT|)"></td>'
                                 +'<td id="firstMonthMontoImponible|NUMBER RESULT|">0</td>'
                                 +'<td id="firstMonthAlicuota|NUMBER RESULT|">|RUBRO_ALICUOTA|</td>'
                                 +'<td id="firstMonthTasaDeterminada|NUMBER RESULT|">0</td>'
                                 +'<td id="firstMonthMinimo|NUMBER RESULT|">|RUBRO_MINIMO|</td>'
                                 +'<td id="firstMonthTasaPagar|NUMBER RESULT|">0</td>'
                              +'</tr>'
                              +'<tr style="text-align: center;">'
                                +'<td id="secondMonth|NUMBER RESULT|" style="padding-top: 15px; font-size: 11px;"></td>'
                                 +'<td style="padding-top: 15px; font-size: 11px;"><j id="secondMonthRubroNro|NUMBER RESULT|">|RUBRO_NRO|</j> &nbsp; <j id="secondMonthItem|NUMBER RESULT|">|RUBRO_ITEM|</j></td>'
                                 +'<td disabled id="secondMonthDescr|NUMBER RESULT|" style="padding-top: 5px; font-size: 11px;">|RUBRO_DESCRIPCION|</td>'
                                 +'<td><input disabled id="secondMonthTotalMontoIngresos|NUMBER RESULT|" style="text-align: right; font-size: 11px; border-radius: 0px;" type="text" value="0.00" onkeypress="return isNumberKey(event)" maxlength="10" onfocusout="setCalculateMonth(|NUMBER RESULT|)"></td>'
                                 +'<td><input disabled id="secondMonthTotalMontoDeducciones|NUMBER RESULT|" style="text-align: right; font-size: 11px; border-radius: 0px;" type="text" value="0.00" onkeypress="return isNumberKey(event)" maxlength="10" onfocusout="setCalculateMonth(|NUMBER RESULT|)"></td>'
                                 +'<td id="secondMonthMontoImponible|NUMBER RESULT|">0</td>'
                                 +'<td id="secondMonthAlicuota|NUMBER RESULT|">|RUBRO_ALICUOTA|</td>'
                                 +'<td id="secondMonthTasaDeterminada|NUMBER RESULT|">0</td>'
                                 +'<td id="secondMonthMinimo|NUMBER RESULT|">|RUBRO_MINIMO|</td>'
                                 +'<td id="secondMonthTasaPagar|NUMBER RESULT|">0</td>'
                              +'</tr>';

        document.getElementById("listRubroForFeeForCommerce").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillRubroDataItem );
    }
    else
    {
        document.getElementById("listRubroForFeeForCommerce").innerHTML = "";
    }
}

function changePeriodMonthsAndEnabledInputs( result_found, data )
{

  var existDDJJ = data['content'][0]['EXISTE_DDJJ']['EXIST'];

  if (existDDJJ == 0)
  {

      var monthSelected = document.getElementById("monthUserSelected").value;
      for( f=1; f<=result_found_for_data; f++ )
      {
        switch(monthSelected)
          {
              case "1":
                  document.getElementById("firstMonth"+f).innerHTML = 'Enero';
                  document.getElementById("secondMonth"+f).innerHTML = 'Febrero';
                  firstMonthForSend = 1;
                  secondMonthForSend = 2;
                  break;
              case "2":
                  document.getElementById("firstMonth"+f).innerHTML = 'Marzo';
                  document.getElementById("secondMonth"+f).innerHTML = 'Abril';
                  firstMonthForSend = 3;
                  secondMonthForSend = 4;
                  break;
              case "3":
                  document.getElementById("firstMonth"+f).innerHTML = 'Mayo';
                  document.getElementById("secondMonth"+f).innerHTML = 'Junio';
                  firstMonthForSend = 5;
                  secondMonthForSend = 6;
                  break;
              case "4":
                  document.getElementById("firstMonth"+f).innerHTML = 'Julio';
                  document.getElementById("secondMonth"+f).innerHTML = 'Agosto';
                  firstMonthForSend = 7;
                  secondMonthForSend = 8;
                  break;
              case "5":
                  document.getElementById("firstMonth"+f).innerHTML = 'Septiembre';
                  document.getElementById("secondMonth"+f).innerHTML = 'Octubre';
                  firstMonthForSend = 9;
                  secondMonthForSend = 10;
                  break;
              case "6":
                  document.getElementById("firstMonth"+f).innerHTML = 'Noviembre';
                  document.getElementById("secondMonth"+f).innerHTML = 'Diciembre';
                  firstMonthForSend = 11;
                  secondMonthForSend = 12;
                  break;
          }
          document.getElementById("firstMonthTotalMontoDeducciones"+f).disabled = false;
          document.getElementById("firstMonthTotalMontoIngresos"+f).disabled = false;
          document.getElementById("secondMonthTotalMontoDeducciones"+f).disabled = false;
          document.getElementById("secondMonthTotalMontoIngresos"+f).disabled = false;
        }
        var pAnio = document.getElementById("yearDDJJ").value
        var pCuota = document.getElementById("monthUserSelected").value
        getExpirationDatePresentation ( 4, pAnio, pCuota, setExpirationDatePresentation, failExistDDJJ, workingDesignPopupLoginGMDQCallback );
    }
    else
    {
      alert("La declaración jurada ya existe.");
    }
}

function setExpirationDatePresentation( result_found, data )
{
    var setExpirationDatePresentationCompare = data['content'][0]['FECHAS_VENCIMIENTO']['FEC_VTO_PRES_DJ'];
    document.getElementById("dateExpiredPresentation").value = data['content'][0]['FECHAS_VENCIMIENTO']['FEC_VTO_PRES_DJ'];
    compareDates(setExpirationDatePresentationCompare);

}

function compareDates(setExpirationDatePresentationCompare)
{
    //alert(setExpirationDatePresentationCompare);
    if( setExpirationDatePresentationCompare < todayCompare )
    { 
    }
    else
    {
      document.getElementById("firstMonthTotalMontoIngresos"+1).focus();
    }
    document.getElementById("firstMonthTotalMontoIngresos"+1).focus();
}

function openFilePdf(nombre){

    window.open(HOST_URL+'/files/'+nombre+'.pdf');
}

function enabledSelectPeriod()
{
  if ( document.getElementById("yearDDJJ").value == '0' )
  {
    alert("Debe seleccionar Año");
    document.getElementById("monthUserSelected").disabled = true;
    document.getElementById("yearDDJJ").focus();
  }
  else
  {
    document.getElementById("monthUserSelected").disabled = false;
    document.getElementById("monthUserSelected").focus();
  }
}

function consultExistDDJJ()
{
  var pAnio = document.getElementById("yearDDJJ").value
  var pCuota = document.getElementById("monthUserSelected").value
  if (pCuota == "0")
  {
    alert("Debe seleccionar período");
  }
  else
  {
    existDDJJ ( pNroComercio_numberCommerceForListDDJJ, pAnio, pCuota, changePeriodMonthsAndEnabledInputs, failExistDDJJ, workingDesignPopupLoginGMDQCallback );
  }

}

function back_listDDJJ()
{
  showSectionContent('views/user_table_listado_declarac_juradas.html', 'content');
}


function sendDataAddDDJJ()
{
    var acumulaData = '';
    var anio = document.getElementById('yearDDJJ').value;
    if (anio == 0)
    {
        alert("error, debe ingresar Año.");
        return;
    }
    var cuota = document.getElementById("monthUserSelected").value;
    if (cuota == 0)
    {
        alert("error, debe ingresar cuota.");
        return;
    }
    for( f=1; f<=result_found_for_data; f++ )
    {

        var firstMonthRubroNro = document.getElementById('firstMonthRubroNro'+f).innerHTML;
        if (firstMonthRubroNro == '')
        {
            alert("error, falta número de rubro.");
            return;
        }
        var firstMonthItem = document.getElementById('firstMonthItem'+f).innerHTML;
        if (firstMonthItem == '')
        {
            alert("error, debe ingresar item.");
            return;
        }
        var firstMonthTotalMontoIngresos = document.getElementById('firstMonthTotalMontoIngresos'+f).value;
        if (firstMonthTotalMontoIngresos == '')
        {
            alert("error, debe ingresar totalMontoIngresos.");
            return;
        }
        var firstMonthTotalMontoDeducciones = document.getElementById('firstMonthTotalMontoDeducciones'+f).value;
        if (firstMonthTotalMontoDeducciones == '')
        {
            alert("error, debe ingresar totalMontoDeducciones.");
            return;
        }
        var firstMonthMontoImponible = document.getElementById('firstMonthMontoImponible'+f).innerHTML;
        firstMonthMontoImponible=replaceAll(firstMonthMontoImponible, ' ', '');
        firstMonthMontoImponible=replaceAll(firstMonthMontoImponible, '$', '');
        firstMonthMontoImponible=replaceAll(firstMonthMontoImponible, '.', '');
        firstMonthMontoImponible=replaceAll(firstMonthMontoImponible, ',', '.');
        if (firstMonthMontoImponible == '')
        {
            alert("error, debe ingresar montoImponible.");
            return;
        }
        var firstMonthAlicuota = document.getElementById('firstMonthAlicuota'+f).innerHTML;
        if (firstMonthAlicuota == '')
        {
            alert("error, debe ingresar alicuota.");
            return;
        }
        var firstMonthTasaDeterminada = document.getElementById('firstMonthTasaDeterminada'+f).innerHTML;
        firstMonthTasaDeterminada=replaceAll(firstMonthTasaDeterminada, ' ', '');
        firstMonthTasaDeterminada=replaceAll(firstMonthTasaDeterminada, '$', '');
        firstMonthTasaDeterminada=replaceAll(firstMonthTasaDeterminada, '.', '');
        firstMonthTasaDeterminada=replaceAll(firstMonthTasaDeterminada, ',', '.');
        if (firstMonthTasaDeterminada == '')
        {
            alert("error, debe ingresar tasaDeterminada.");
            return;
        }
        var firstMonthMinimo = document.getElementById('firstMonthMinimo'+f).innerHTML;
        if (firstMonthMinimo == '')
        {
            alert("error, debe ingresar minimo.");
            return;
        }
        var firstMonthTasaPagar = document.getElementById('firstMonthTasaPagar'+f).innerHTML;
        firstMonthTasaPagar=replaceAll(firstMonthTasaPagar, ' ', '');
        firstMonthTasaPagar=replaceAll(firstMonthTasaPagar, '$', '');
        firstMonthTasaPagar=replaceAll(firstMonthTasaPagar, '.', '');
        firstMonthTasaPagar=replaceAll(firstMonthTasaPagar, ',', '.');
        if (firstMonthTasaPagar == '')
        {
            alert("error, debe ingresar tasaPagar.");
            return;
        }
        var secondMonthRubroNro = document.getElementById('secondMonthRubroNro'+f).innerHTML;
        if (secondMonthRubroNro == '')
        {
            alert("error, falta número de rubro.");
            return;
        }
        var secondMonthItem = document.getElementById('secondMonthItem'+f).innerHTML;
        if (secondMonthItem == '')
        {
            alert("error, debe ingresar item.");
            return;
        }
        var secondMonthTotalMontoIngresos = document.getElementById('secondMonthTotalMontoIngresos'+f).value;
        if (secondMonthTotalMontoIngresos == '')
        {
            alert("error, debe ingresar totalMontoIngresos.");
            return;
        }
        var secondMonthTotalMontoDeducciones = document.getElementById('secondMonthTotalMontoDeducciones'+f).value;
        if (secondMonthTotalMontoDeducciones == '')
        {
            alert("error, debe ingresar totalMontoDeducciones.");
            return;
        }
        var secondMonthMontoImponible = document.getElementById('secondMonthMontoImponible'+f).innerHTML;
        secondMonthMontoImponible=replaceAll(secondMonthMontoImponible, ' ', '');
        secondMonthMontoImponible=replaceAll(secondMonthMontoImponible, '$', '');
        secondMonthMontoImponible=replaceAll(secondMonthMontoImponible, '.', '');
        secondMonthMontoImponible=replaceAll(secondMonthMontoImponible, ',', '.');
        if (secondMonthMontoImponible == '')
        {
            alert("error, debe ingresar montoImponible.");
            return;
        }
        var secondMonthAlicuota = document.getElementById('secondMonthAlicuota'+f).innerHTML;
        if (secondMonthAlicuota == '')
        {
            alert("error, debe ingresar alicuota.");
            return;
        }
        var secondMonthTasaDeterminada = document.getElementById('secondMonthTasaDeterminada'+f).innerHTML;
        secondMonthTasaDeterminada=replaceAll(secondMonthTasaDeterminada, ' ', '');
        secondMonthTasaDeterminada=replaceAll(secondMonthTasaDeterminada, '$', '');
        secondMonthTasaDeterminada=replaceAll(secondMonthTasaDeterminada, '.', '');
        secondMonthTasaDeterminada=replaceAll(secondMonthTasaDeterminada, ',', '.');
        if (secondMonthTasaDeterminada == '')
        {
            alert("error, debe ingresar tasaDeterminada.");
            return;
        }
        var secondMonthMinimo = document.getElementById('secondMonthMinimo'+f).innerHTML;
        if (secondMonthMinimo == '')
        {
            alert("error, debe ingresar minimo.");
            return;
        }
        var secondMonthTasaPagar = document.getElementById('secondMonthTasaPagar'+f).innerHTML;
        secondMonthTasaPagar=replaceAll(secondMonthTasaPagar, ' ', '');
        secondMonthTasaPagar=replaceAll(secondMonthTasaPagar, '$', '');
        secondMonthTasaPagar=replaceAll(secondMonthTasaPagar, '.', '');
        secondMonthTasaPagar=replaceAll(secondMonthTasaPagar, ',', '.');
        if (secondMonthTasaPagar == '')
        {
            alert("error, debe ingresar tasaPagar.");
            return;
        }

        acumulaData = acumulaData + 
        pNroComercio_numberCommerceForListDDJJ+'|'+anio+'|'+cuota+'|'+firstMonthForSend+'|'+firstMonthRubroNro+'|'+firstMonthItem+'|'+firstMonthTotalMontoIngresos+'|'+firstMonthTotalMontoDeducciones+'|'+firstMonthMontoImponible+'|'+firstMonthAlicuota+'|'+firstMonthTasaPagar+'|'+pNroComercio_numberCommerceForListDDJJ+'|'+anio+'|'+cuota+'|'+secondMonthForSend+'|'+secondMonthRubroNro+'|'+secondMonthItem+'|'+secondMonthTotalMontoIngresos+'|'+secondMonthTotalMontoDeducciones+'|'+firstMonthMontoImponible+'|'+secondMonthAlicuota+'|'+secondMonthTasaPagar+'|';
    }
  var pDataDDJJ = acumulaData;
  var pFechaPresentacion = document.getElementById('datePresentation').innerHTML;

  //alert( pDataDDJJ +'' +pFechaPresentacion );

  console.log(pDataDDJJ);
  console.log(pFechaPresentacion);
  addDDJJ( pDataDDJJ, pFechaPresentacion, addDDJJCallback, failAddDDJJ, workingDesignPopupLoginGMDQCallback );
}

function addDDJJCallback( result_found, data )
{
  var acumulaDataComp2 = '';

  /*var CALLE = 'CABLE';
  var NROCALLE = '1234';
  var razonSocial = 'RAZON CABLE';
  var NOMBRE_FANTASIA = 'fantasia cable';
  var cuit = '12-58268654-2'*/

  var NROCOMP = data['content'][0]['DATA_INVOICE']['NROCOMP'];
  var FECHA_EMISION = data['content'][0]['DATA_INVOICE']['FECHA_EMISION'];

  var RECURSO1 = data['content'][0]['DATA_INVOICE']['RECURSO'];
  var ANIO1 = data['content'][0]['DATA_INVOICE']['ANIO'];
  var CUOTA1 = data['content'][0]['DATA_INVOICE']['CUOTA'];
  var CONCEPTO1 = data['content'][0]['DATA_INVOICE']['CONCEPTO'];
  var CODPLAN1 = data['content'][0]['DATA_INVOICE']['CODPLAN'];
  var IMPORIGENRENG1 = data['content'][0]['DATA_INVOICE']['IMPORIGENRENG'];
  var IMPRECARGOSRENG1 = data['content'][0]['DATA_INVOICE']['IMPRECARGOSRENG'];
  var IMPTOTALRENG1 = data['content'][0]['DATA_INVOICE']['IMPTOTALRENG'];

  var RECURSO2 = data['content'][1]['DATA_INVOICE']['RECURSO'];
  var ANIO2 = data['content'][1]['DATA_INVOICE']['ANIO'];
  var CUOTA2 = data['content'][1]['DATA_INVOICE']['CUOTA'];
  var CONCEPTO2 = data['content'][1]['DATA_INVOICE']['CONCEPTO'];
  var CODPLAN2 = data['content'][1]['DATA_INVOICE']['CODPLAN'];
  var IMPORIGENRENG2 = data['content'][1]['DATA_INVOICE']['IMPORIGENRENG'];
  var IMPRECARGOSRENG2 = data['content'][1]['DATA_INVOICE']['IMPRECARGOSRENG'];
  var IMPTOTALRENG2 = data['content'][1]['DATA_INVOICE']['IMPTOTALRENG'];


  var FECHA_VENCIMIENTO_1 = data['content'][0]['DATA_INVOICE']['FECHA_VENCIMIENTO_1'];
  var evt_TOTAL_ORIGEN1 = data['content'][0]['DATA_INVOICE']['evt_TOTAL_ORIGEN1'];
  var evt_RECARGO_1 = data['content'][0]['DATA_INVOICE']['evt_RECARGO_1'];
  var evt_TOTAL_1 = data['content'][0]['DATA_INVOICE']['evt_TOTAL_1'];
  var FECHA_VENCIMIENTO_2 = data['content'][0]['DATA_INVOICE']['FECHA_VENCIMIENTO_2'];
  var evt_TOTAL_ORIGEN2 = data['content'][0]['DATA_INVOICE']['evt_TOTAL_ORIGEN2'];
  var evt_RECARGO_2 = data['content'][0]['DATA_INVOICE']['evt_RECARGO_2'];
  var evt_TOTAL_2 = data['content'][0]['DATA_INVOICE']['evt_TOTAL_2'];
  var FECHA_VENCIMIENTO_3 = data['content'][0]['DATA_INVOICE']['FECHA_VENCIMIENTO_3'];
  var evt_TOTAL_ORIGEN3 = data['content'][0]['DATA_INVOICE']['evt_TOTAL_ORIGEN3'];
  var evt_RECARGO_3 = data['content'][0]['DATA_INVOICE']['evt_RECARGO_3'];
  var evt_TOTAL_3 = data['content'][0]['DATA_INVOICE']['evt_TOTAL_3'];
  var STRINGCODBARRA = data['content'][0]['DATA_INVOICE']['STRINGCODBARRA'];
  var DIRECCION = CALLE+' '+NROCALLE;

  var acumulaDataComp = WEB_TISH_URL+'pdf/PresentacionDDJJ.php?CUIT='+cuit+'&NROCOMERCIO='+pNroComercio_numberCommerceForListDDJJ+'&DIRECCION='+DIRECCION+'&razonSocial='+razonSocial+'&NOMBRE_FANTASIA='+NOMBRE_FANTASIA+'&NROCOMP='+NROCOMP+'&FECHA_EMISION='+FECHA_EMISION+'&RECURSO1='+RECURSO1+'&ANIO1='+ANIO1+'&CUOTA1='+CUOTA1;

  for( f=1; f<=result_found_for_data; f++ )
    {
      var firstMonth = document.getElementById('firstMonth'+f).innerHTML;
        if (firstMonth == '')
        {
            alert("error, falta número de rubro.");
            return;
        }
      firstMonth = changeMonthInWordsForNumber(firstMonth);
      var firstMonthRubroNro = document.getElementById('firstMonthRubroNro'+f).innerHTML;
        if (firstMonthRubroNro == '')
        {
            alert("error, falta número de rubro.");
            return;
        }
        var firstMonthDescr = document.getElementById('firstMonthDescr'+f).innerHTML;
        if (firstMonthDescr == '')
        {
            alert("error, falta descripcion de rubro.");
            return;
        }

      var firstMonthItem = document.getElementById('firstMonthItem'+f).innerHTML;
        if (firstMonthItem == '')
        {
            alert("error, debe ingresar item.");
            return;
        }
        var firstMonthTotalMontoIngresos = document.getElementById('firstMonthTotalMontoIngresos'+f).value;
        firstMonthTotalMontoIngresos = formato_evt( firstMonthTotalMontoIngresos );
        firstMonthTotalMontoIngresos=replaceAll(firstMonthTotalMontoIngresos, '$', '');
        if (firstMonthTotalMontoIngresos == '')
        {
            alert("error, debe ingresar totalMontoIngresos.");
            return;
        }
        var firstMonthTotalMontoDeducciones = document.getElementById('firstMonthTotalMontoDeducciones'+f).value;
        firstMonthTotalMontoDeducciones = formato_evt( firstMonthTotalMontoDeducciones );
        firstMonthTotalMontoDeducciones=replaceAll(firstMonthTotalMontoDeducciones, '$', '');
        if (firstMonthTotalMontoDeducciones == '')
        {
            alert("error, debe ingresar totalMontoDeducciones.");
            return;
        }
        var firstMonthMontoImponible = document.getElementById('firstMonthMontoImponible'+f).innerHTML;
        firstMonthMontoImponible=replaceAll(firstMonthMontoImponible, '$', '');
        if (firstMonthMontoImponible == '')
        {
            alert("error, debe ingresar montoImponible.");
            return;
        }
        var firstMonthAlicuota = document.getElementById('firstMonthAlicuota'+f).innerHTML;
        if (firstMonthAlicuota == '')
        {
            alert("error, debe ingresar alicuota.");
            return;
        }
        var firstMonthTasaDeterminada = document.getElementById('firstMonthTasaDeterminada'+f).innerHTML;
        firstMonthTasaDeterminada=replaceAll(firstMonthTasaDeterminada, '$', '');
        if (firstMonthTasaDeterminada == '')
        {
            alert("error, debe ingresar tasaDeterminada.");
            return;
        }
        var firstMonthMinimo = document.getElementById('firstMonthMinimo'+f).innerHTML;
        if (firstMonthMinimo == '')
        {
            alert("error, debe ingresar minimo.");
            return;
        }
        var firstMonthTasaPagar = document.getElementById('firstMonthTasaPagar'+f).innerHTML;
        firstMonthTasaPagar=replaceAll(firstMonthTasaPagar, '$', '');
        if (firstMonthTasaPagar == '')
        {
            alert("error, debe ingresar tasaPagar.");
            return;
        }

        var secondMonth = document.getElementById('secondMonth'+f).innerHTML;
        if (secondMonth == '')
        {
            alert("error, falta número de rubro.");
            return;
        }
        secondMonth = changeMonthInWordsForNumber(secondMonth);

        var secondMonthRubroNro = document.getElementById('secondMonthRubroNro'+f).innerHTML;
        if (secondMonthRubroNro == '')
        {
            alert("error, falta número de rubro.");
            return;
        }

        var secondMonthDescr = document.getElementById('secondMonthDescr'+f).innerHTML;
        if (secondMonthDescr == '')
        {
            alert("error, falta número de descripcion de rubro.");
            return;
        }

        var secondMonthItem = document.getElementById('secondMonthItem'+f).innerHTML;
        if (secondMonthItem == '')
        {
            alert("error, debe ingresar item.");
            return;
        }
        var secondMonthTotalMontoIngresos = document.getElementById('secondMonthTotalMontoIngresos'+f).value;
        secondMonthTotalMontoIngresos = formato_evt( secondMonthTotalMontoIngresos );
        secondMonthTotalMontoIngresos=replaceAll(secondMonthTotalMontoIngresos, '$', '');
        if (secondMonthTotalMontoIngresos == '')
        {
            alert("error, debe ingresar totalMontoIngresos.");
            return;
        }
        var secondMonthTotalMontoDeducciones = document.getElementById('secondMonthTotalMontoDeducciones'+f).value;
        secondMonthTotalMontoDeducciones = formato_evt( secondMonthTotalMontoDeducciones );
        secondMonthTotalMontoDeducciones=replaceAll(secondMonthTotalMontoDeducciones, '$', '');
        if (secondMonthTotalMontoDeducciones == '')
        {
            alert("error, debe ingresar totalMontoDeducciones.");
            return;
        }
        var secondMonthMontoImponible = document.getElementById('secondMonthMontoImponible'+f).innerHTML;
        secondMonthMontoImponible=replaceAll(secondMonthMontoImponible, '$', '');
        if (secondMonthMontoImponible == '')
        {
            alert("error, debe ingresar montoImponible.");
            return;
        }
        var secondMonthAlicuota = document.getElementById('secondMonthAlicuota'+f).innerHTML;
        if (secondMonthAlicuota == '')
        {
            alert("error, debe ingresar alicuota.");
            return;
        }
        var secondMonthTasaDeterminada = document.getElementById('secondMonthTasaDeterminada'+f).innerHTML;
        secondMonthTasaDeterminada=replaceAll(secondMonthTasaDeterminada, '$', '');
        if (secondMonthTasaDeterminada == '')
        {
            alert("error, debe ingresar tasaDeterminada.");
            return;
        }
        var secondMonthMinimo = document.getElementById('secondMonthMinimo'+f).innerHTML;
        if (secondMonthMinimo == '')
        {
            alert("error, debe ingresar minimo.");
            return;
        }
        var secondMonthTasaPagar = document.getElementById('secondMonthTasaPagar'+f).innerHTML;
        secondMonthTasaPagar=replaceAll(secondMonthTasaPagar, '$', '');
        if (secondMonthTasaPagar == '')
        {
            alert("error, debe ingresar tasaPagar.");
            return;
        }
        acumulaDataComp2 = acumulaDataComp2+'&firstMonth'+f+'='+firstMonth+'&firstMonthItem'+f+'='+firstMonthItem+'&firstMonthRubroNro'+f+'='+firstMonthRubroNro+'&firstMonthDescr'+f+'='+firstMonthDescr+'&firstMonthItem'+f+'='+firstMonthItem+'&firstMonthTotalMontoIngresos'+f+'='+firstMonthTotalMontoIngresos+'&firstMonthTotalMontoDeducciones'+f+'='+firstMonthTotalMontoDeducciones+'&firstMonthMontoImponible'+f+'='+firstMonthMontoImponible+'&firstMonthAlicuota'+f+'='+firstMonthAlicuota+'&firstMonthTasaDeterminada'+f+'='+firstMonthTasaDeterminada+'&firstMonthMinimo'+f+'='+firstMonthMinimo+'&firstMonthTasaPagar'+f+'='+firstMonthTasaPagar+'&secondMonth'+f+'='+secondMonth+'&secondMonthItem'+f+'='+secondMonthItem+'&secondMonthRubroNro'+f+'='+secondMonthRubroNro+'&secondMonthDescr'+f+'='+secondMonthDescr+'&secondMonthItem'+f+'='+secondMonthItem+'&secondMonthTotalMontoIngresos'+f+'='+secondMonthTotalMontoIngresos+'&secondMonthTotalMontoDeducciones'+f+'='+secondMonthTotalMontoDeducciones+'&secondMonthMontoImponible'+f+'='+secondMonthMontoImponible+'&secondMonthAlicuota'+f+'='+secondMonthAlicuota+'&secondMonthTasaDeterminada'+f+'='+secondMonthTasaDeterminada+'&secondMonthMinimo'+f+'='+secondMonthMinimo+'&secondMonthTasaPagar'+f+'='+secondMonthTasaPagar+'&totalResults='+f;

    }
    var IMPORTE_TOTAL_1 = document.getElementById('tasaTotalPagar').value;
            if (IMPORTE_TOTAL_1 == '')
                    {
                        alert("error, debe ingresar total a pagar");
                        return;
                    }
    console.log(acumulaDataComp2);
    //return;
    IMPORIGENRENG1 = formato_evt(IMPORIGENRENG1);
    IMPORIGENRENG1 = replaceAll( IMPORIGENRENG1, '$', '' );
    IMPTOTALRENG1 = formato_evt(IMPTOTALRENG1);
    IMPTOTALRENG1 = replaceAll( IMPTOTALRENG1, '$', '' );

    window.open(WEB_TISH_URL+'pdf/Comprobante_pdf.php?NROCOMERCIO='+pNroComercio_numberCommerceForListDDJJ+'&DIRECCION='+DIRECCION+'&razonSocial='+razonSocial+'&NOMBRE_FANTASIA='+NOMBRE_FANTASIA+'&NROCOMP='+NROCOMP+'&FECHA_EMISION='+FECHA_EMISION+'&RECURSO1='+RECURSO1+'&ANIO1='+ANIO1+'&CUOTA1='+CUOTA1+'&CONCEPTO1='+CONCEPTO1+'&CODPLAN1='+CODPLAN1+'&IMPORIGENRENG1='+IMPORIGENRENG1+'&IMPTOTALRENG1='+IMPTOTALRENG1+'&RECURSO2='+RECURSO2+'&ANIO2='+ANIO2+'&CUOTA2='+CUOTA2+'&CONCEPTO2='+CONCEPTO2+'&CODPLAN2='+CODPLAN2+'&IMPORIGENRENG2='+IMPORIGENRENG2+'&IMPTOTALRENG2='+IMPTOTALRENG2+'&FECHA_VENCIMIENTO_1='+FECHA_VENCIMIENTO_1+'&evt_TOTAL_ORIGEN1='+evt_TOTAL_ORIGEN1+'&evt_RECARGO_1='+evt_RECARGO_1+'&evt_TOTAL_1='+evt_TOTAL_1+'&FECHA_VENCIMIENTO_2='+FECHA_VENCIMIENTO_2+'&evt_TOTAL_ORIGEN2='+evt_TOTAL_ORIGEN2+'&evt_RECARGO_2='+evt_RECARGO_2+'&evt_TOTAL_2='+evt_TOTAL_2+'&FECHA_VENCIMIENTO_3='+FECHA_VENCIMIENTO_3+'&evt_TOTAL_ORIGEN3='+evt_TOTAL_ORIGEN3+'&evt_RECARGO_3='+evt_RECARGO_3+'&evt_TOTAL_3='+evt_TOTAL_3+'&STRINGCODBARRA='+STRINGCODBARRA+'&IMPORTE_TOTAL_1='+IMPORTE_TOTAL_1, '_blank');

   window.open( acumulaDataComp+acumulaDataComp2+'&IMPORTE_TOTAL_1='+IMPORTE_TOTAL_1, '_blank' );

   showMessageOKGoListPresentSH();
}

function showMessageOKGoListPresentSH()
{
  alert('Declaración jurada grabada con éxito.');
  showSectionContent('views/user_table_listado_declarac_juradas.html', 'content');
}

$(document).ready(function ()
{
  document.getElementById("numberCommerceSelected").innerHTML = '  '+ pNroComercio_numberCommerceForListDDJJ;
  getToday( fillTodayPSH, failGetToday, workingDesignPopupFNCallback );

  getAllRubroData( pNroComercio_numberCommerceForListDDJJ, fillDataRubro, failGetAllRubroData, workingDesignPopupLoginGMDQCallback );

  document.getElementById("yearDDJJ").focus();

});
</script>
<link rel="stylesheet" href="assets/css/fn/jquery.dataTables.min.css" />
<link rel="stylesheet" href="assets/css/fn/table_responsive.css" />
<body style="">
    <div class="container">
        <div class="row header" style="text-align:center; color:#3B3B3B; margin-bottom: 10px;">
            <h4 style=" font-size: 14px;">Presentación de declaración jurada de la tasa por inspección de seguridad e higiene</h4>
        </div>
        <table class="table" style="margin-bottom: 0px; border-bottom: 1px solid #fff; padding: 5px 5px 5px 5px;">
          <thead style="">
              <tr style="text-align: center;">
                <th style="text-align: center;"><a onclick="back_listDDJJ();" style="cursor: pointer; color:#880500; font-weight: bold;"><- Volver</a></th>
                <td style="font-weight: bold;">N° DE COMERCIO:</td>
                <td id="numberCommerceSelected"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-weight: bold;">FECHA DE PRESENTACION:</td>
                <td id="datePresentation"></td>
                <td></td> 
              </tr>
          </thead>
        </table>
        <table class="table" style="margin-bottom: 0px; border-bottom: 1px solid #fff; padding: 5px 5px 5px 5px; margin-top: 10px;">
          <thead style="background-color: #3B3B3B;">
              <tr style="text-align: center;">
                <td style="text-align: center; width: 180px;">
                  <j style="color:fff; font-size: 11px;">Seleccione año:</j> 
                   <select id="yearDDJJ" onchange="enabledSelectPeriod();" style="border-radius: 0px; width: 100px;overflow: hidden;
  overflow: -moz-hidden-unscrollable; background: url(images/down-arrow.png) no-repeat right white;
  display: inline-block;
  position: relative;">
                      <option value="0"></option>
                      <option value="2017">2017</option>
                      <option value="2016">2016</option>
                      <option value="2015">2015</option>
                      <option value="2014">2014</option>
                    </select>
                </td>
                <td></td>
                <td style="text-align: center; width: 180px;">
                  <j style="color:fff; font-size: 11px;">Seleccione cuota:</j> 
                    <select disabled id="monthUserSelected" onchange="consultExistDDJJ();" align="center" style="border-radius: 0px; width: 100px;overflow: hidden;
  overflow: -moz-hidden-unscrollable; background: url(images/down-arrow.png) no-repeat right white;
  display: inline-block;
  position: relative;">
                      <option value="0"></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: center; width: 230px;">
                  <j style="color:fff; font-size: 11px;">Fecha de vencimiento:</j> 
                  <input id="dateExpiredPresentation" readonly style="text-align: center; color:#880500; width: 230px; border-radius: 0px; -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none; " type="text" value="00/00/0000">
                </td>  
              </tr>
          </thead>
        </table>
        <table id="myTable" class="table" style="margin-top: 0px; margin-bottom: 0px;">
            <thead style="background-color: #3B3B3B; color: #FFf;">
                <tr>
                    <th style="text-align: center; font-size: 12px;">Mes</th>
                    <th style="text-align: center; font-size: 12px;">Rubro / Item</th>
                    <th style="text-align: center; font-size: 12px;">Descripción</th>
                    <th style="text-align: center; font-size: 12px;">Monto de ingresos</th>
                    <th style="text-align: center; font-size: 12px;">Monto de deducciones</th>
                    <th style="text-align: center; font-size: 12px; width: 170px;">Monto imponible</th>
                    <th style="text-align: center; font-size: 12px;">Alícuota</th>
                    <th style="text-align: center; font-size: 12px; width: 150px;">Tasa determinada</th>
                    <th style="text-align: center; font-size: 12px;">Mínimo</th>
                    <th style="text-align: center; font-size: 12px; width: 150px;">Tasa a pagar</th>
                </tr>
            </thead>
            <tbody id="listRubroForFeeForCommerce" style="background-color: #FFF;">
            </tbody>
            <tfoot style="background-color: #3B3B3B;">
                <tr>
                    <th style="display: none;"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
            
           </table>
           <table id="myTable" class="table">
               <tfoot style="background-color: #3B3B3B;">
                    <tr style="width: 100%;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td style="width: 110px; text-align: center;">
                        <j style="color:fff; font-size: 11px;">Tasa total a pagar:</j> 
                        <input id="tasaTotalPagar" step="0.01" readonly style="text-align: right; width: 110px; border-radius: 0px; font-size: 12px; font-weight: bold;" type="text" value="0.00">
                      </td>
                    </tr>
                </tfoot>
            </table>
    </div>
    <div style="width: 100%; text-align: center; margin: 15px 0px 15px 0px;" >
        <!--<a class="FN_print_pdf1" download="Informe_DDJJ" onclick="openFilePdf('12345678')">   Imprimir listado de DDJJ informadas 
        </a>-->
        <a onclick="sendDataAddDDJJ();" class="FN_print_pdf2" style="color: #D33642;">
          Presentar DDJJ
        </a>
    </div>
</body>
</html>