<script>
	function close_user_session()
    {
        window.location = WEB_TISH_URL;
    }
	document.getElementById('userCuit').innerHTML = cuit;
</script>
<div class="FN_userLogin" style="width: 200px;">
    <div style=" float: left; margin-left: 5px; ">
	    <div style="text-align: left; display: inline-block; margin-top: 15px; font-size: 11px;">
	        <a style="font-size: 13px; color: #E72723; font-weight: bold;">CUIT:</a> <j id="userCuit"></j>
	    </div>
	    <br>
	    <!--<div style="text-align: left; display: inline-block; margin-top: 2px; font-size: 11px;">
	        Usuario TISH
	    </div>
	    <br>-->
    	<div style="text-align: left; display: inline-block; margin-top: 4px; font-size: 11px;">
	        <a onclick="close_user_session();" style="font-weight: bold; cursor: pointer; color:#E72723; -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;">Cerrar sesion</a>
	    </div>
	</div>
	<!--<a style=" margin-top: 8px; float: left;" href="#header-navigation-mobile" class="FN_main-menu-mobile" aria-hidden="true" aria-label="FN_Menu principal"></a>-->
</div>