<link rel="stylesheet" href="assets/css/fn/jquery.dataTables.min.css" />
<link rel="stylesheet" href="assets/css/fn/table_responsive.css" />
<script>
var countTradeDataDetailFound = 0;
var pNroComercio_numberCommerceForListDDJJ = '';
var razonSocial;
var NOMBRE_FANTASIA;
var CALLE;
var NROCALLE;

function backMenu ( elementContent )
{
    closeElement('backButton');
    showSectionContent('views/'+elementContent, 'content')
}

function fillDataManager( result_found, data )
{
    if (result_found > 0)
    {

      var itemTemplateHTML =  '<tr>'
                                    +'<td id="|NUMBER RESULT|" style="text-align: center;">|NRO_COMERCIO|</td>'
                                    +'<td id="nameTrade|NUMBER RESULT|" style="text-align: center;">-</td>'
                                    /*+'<td id="razonSocial|NUMBER RESULT|" style="text-align: center;">-</td>'*/
                                    +'<td id="contribuyente|NUMBER RESULT|" style="text-align: center; display:none;">-</td>'
                                    +'<td><input readonly class="FN_table_button" name="seleccionar" value="Seleccionar" onclick="goListDDJJ(|NRO_COMERCIO|, |NUMBER RESULT|);"></td>'
                             +'</tr>';

        document.getElementById("contentListTrades").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillManagerDataItem );
        fillDataTrades(result_found);
        razonSocial =  data['content'][0]['TRADES']['RAZON_SOCIAL'];
    }
    else
    {
        document.getElementById("contentListTrades").innerHTML = "";
    }
}

function fillDataTrades(totalFoundsTrades)
{
  for( f=1; f<=totalFoundsTrades; f++ )
  {
    var numberCommerce = document.getElementById(f).innerHTML;
    getAllTradeData ( numberCommerce, fillDataTradesDetail, tradeNotFound, workingDesignPopupLoginGMDQCallback );
  }
}


function fillDataTradesDetail( result_found, data )
{
    if (result_found > 0)
    {
      countTradeDataDetailFound++;
       document.getElementById("nameTrade"+countTradeDataDetailFound).innerHTML = data['content'][0]['DATOS_COMERCIO']['NOMBRE_COMERCIO'];
       NOMBRE_FANTASIA = data['content'][0]['DATOS_COMERCIO']['NOMBRE_FANTASIA'];
       CALLE = data['content'][0]['DATOS_COMERCIO']['CALLE'];
       NROCALLE = data['content'][0]['DATOS_COMERCIO']['NROCALLE'];
       /*document.getElementById("razonSocial"+countTradeDataDetailFound).innerHTML = data['content'][0]['DATOS_COMERCIO']['NOMBRE_FANTASIA'];*/
    }
    else
    {
      document.getElementById("nameTrade"+countTradeDataDetailFound).innerHTML = 'no encontrado';
      /*document.getElementById("razonSocial"+countTradeDataDetailFound).innerHTML = 'no encontrado';*/
    }
}

function goListDDJJ(numberCommerceForListDDJJ, numberResultforId)
{
  if (numberCommerceForListDDJJ == '')
  {
    alert("Comercio no encontrado.")
  }
  else
  {
    pNroComercio_numberCommerceForListDDJJ = numberCommerceForListDDJJ;
    razonSocial = document.getElementById("nameTrade"+numberResultforId).innerHTML;
    showSectionContent('views/user_table_listado_declarac_juradas.html?numberCommerce='+numberCommerceForListDDJJ, 'content');
  }
}

function selectCommerce ()
{
    showElement('backButton');
    showSectionContent('views/user_main_menu_comercios.html', 'content')
}

function tradeNotFound()
{
    alert("DATOS DE COMERCIO NO ENCONTRADOs");
}

function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}


$(document).ready(function ()
{
    getManagerData( cuit, fillDataManager, failGetDataManager,workingDesignPopupLoginGMDQCallback );
});
</script>
    <div class="container" style="margin-top: 30px;">
        <div class="row header" style="text-align:center; color:#3B3B3B;">
            <h4>Seleccione el comercio con el cual desea operar:</h4>
        </div>
        <table id="myTable" class="table" style="margin-top: 10px;">
            <thead style="background-color: #DDDDDD; padding: 15px 15px 15px 15px;">
                <tr>
                    <th style="text-align: center;">N° DE COMERCIO</th>
                    <th style="text-align: center;">RAZON SOCIAL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contentListTrades" style="background-color: #FFF;">
             </tbody>
             <tfoot style="background-color: #DDDDDD; padding: 15px 15px 15px 15px;">
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                 <!-- <th></th>-->
                </tr>
             </tfoot>
         </table>
    </div>
</html>