<script>
    function close_user_session()
    {
        window.location = WEB_TISH_URL;
    }
    document.getElementById('userCuitMainMenu').innerHTML = '  '+cuit;
</script>

<nav class="FN_header-navigation-mobile" id="header-navigation-mobile">
    <div class="FN_header-navigation-mobile-inner">
        <header>
            <a href="#" class="FN_btn-subscribe" style="margin-left: 10px; font-weight: bold;">
                OPCIONES DE ACCESO</a>
            <a href="#close-menu" id="FN_close-menu" class="FN_btn-close" aria-label="FN_Fechar">
                <span aria-hidden="true" style="font-weight: bold; line-height: 40px; margin-left: 50px;">
                    <q style="font-family: sans-serif; font-size: 12px; padding: 5px 4px 4px 5px; border: 1px solid #fff; border-radius: 3px 3px 3px 3px;">x</q>
                </span>
            </a>
        </header>
        <!--<h4 class="FN_header-navigation-mobile-label" style="background-color: #9A9696; color:#fff; padding: 8px 8px 8px 8px;">Comercio</h4>
        <ul class="FN_header-navigation-mobile-list">
            <o onclick="window.location.href = '#close-menu';"><li class="FN_darken"><a>Cargar DDJJ</a><a style="color: #D33642; font-size: 9px;"> ( En const. )</a></li></o>
            <o onclick="window.location.href = '#close-menu';"><li class="FN_darken" onclick="showSectionContent('views/user_table_listado_declarac_juradas.html', 'content')"><a>Ver listado de DDJJ</a></li></o>
            <o onclick="window.location.href = '#close-menu';"><li class="FN_darken"><a>Ver cuenta corriente</a><a style="color: #D33642; font-size: 9px;"> ( En const. )</a></li></o>
            <o onclick="window.location.href = '#close-menu';"><li class="FN_darken"><a>Datos del comercio</a><a style="color: #D33642; font-size: 9px;"> ( En const. )</a></li></o>
            <o onclick="window.location.href = '#close-menu';"><li class="FN_darken"><a>Cambiar comercio</a><a style="color: #D33642; font-size: 9px;"> ( En const. )</a></li></o>
        </ul>-->
        <h4 class="FN_header-navigation-mobile-label" style="background-color: #9A9696; color:#fff; padding: 8px 8px 8px 8px;">Usuario Web</h4>
        <ul class="FN_header-navigation-mobile-list">
            <o onclick="window.location.href = '#close-menu';"><li class="FN_darken"><a>CUIT:</a><a id="userCuitMainMenu" style="color: #D33642; font-size: 12px;"></a></li></o>
            <o onclick="window.location.href = '#close-menu';"><li class="FN_darken"><a>Usuario:</a><a style="color: #D33642; font-size: 12px;"> TISH</a></li></o>
            <o onclick="window.location.href = '#close-menu';"><li id="backButton" onclick="backMenu ( 'user_table_listado_comercios.html' );" style="display: none;" class="FN_darken"><img style="width: 18px; height: 18px;" src="images/back.png"> <a> Volver </a></li></o>
            <o onclick="window.location.href = '#close-menu';"><li class="FN_darken" onclick="close_user_session();"><img style="width: 18px; height: 18px;" src="images/session-logout.png"> <a> Cerrar sesión</a></li></o>
        </ul>
        <footer style="text-align: center;">
            <span class="FN_follow-us-label" style="font-weight: bold;">© Municipalidad de Lincoln</span>
            <br>
            <ul class="FN_header-navigation-social-media" style="">
                <li style="color: #fff; margin-right: 18px;">
                    DISEÑADO POR: <a href="http://grupomdq.com" style="font-weight: bold;" class="FN_gmdq">GRUPO MDQ</a>
                </li>
            </ul>
        </footer>
    </div>
</nav>