<script>
//var cuit = '12-34567891-0';

function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}

function sendDataEditKey()
{
    cuit = document.getElementById('userCuitReNew').value;
    //alert(cuit);
    if (cuit == '')
    {
        alert("error, debe ingresar un Cuit");
        return;
    } 
    var pKeyManager = document.getElementById('keyWhite').value;
    //alert(pKeyManager);
    if (pKeyManager == '')
    {
        alert("error, debe ingresar su clave generada por sistema.");
        return;
    } 
    var pNew_KeyManager1 = document.getElementById('keyManager1').value;
    //alert(pNew_KeyManager1);
    if (pNew_KeyManager1 == '')
    {
        alert("error, debe ingresar su nueva clave.");
        return;
    } 
    var pNew_KeyManager2 = document.getElementById('keyManager2').value;
    //alert(pNew_KeyManager2);
    if (pNew_KeyManager2 == '')
    {
        alert("error, debe repetir su nueva clave.");
        return;
    } 

    if( pNew_KeyManager1 != pNew_KeyManager2 )
    {
        alert("Las constraseñas no coinciden.")
        return;
    }
    else
    {
        editKey( cuit, pKeyManager, pNew_KeyManager1, editKeyOk, failEditKey, workingDesignPopupLoginGMDQCallback );
    }
}

function editKeyOk( result_found, data )
{   
    var response = data['content'][0]['MUNICIPALIDAD']['UPDATED_KEY'];
    if (response != 'OK')
    {
        
        alert("Error, clave incorrecta");
    }
    else
    {
        alert("Clave Actualizada con éxito, por favor vuelva a ingresar su Cuit y su nueva clave.")
        window.location = WEB_TISH_URL;
    }
}

$(document).ready(function(){
    $('.userCuitReNew').mask("99-99999999-9");
    document.getElementById('userCuitReNew').value = cuit;
    document.getElementById('keyWhite').focus();
});

</script>
 <div align="center">
    <div class="FN_categories" style="width: 50%; display: inline-block; height: auto; ">

        <div class="FN_block-title">
            <div onclick="showSectionContent('views/user_form_login.html', 'content')" style="color: #fff; font-weight: bold; cursor:pointer; margin-bottom: 5px;"><u><-Volver</u></div>
            <span class="fn_title_header_admin_main_menu">Reingreso de Clave Blanqueada</span>
        </div>
        <div class="FN_drop-down">
            <div style="padding-top: 20px; width: 200px;">
               <input readonly id="userCuitReNew" class="userCuit" type="text" name="" placeholder="CUIT" style="color:#000; text-align: center;">
            </div> <br>
            <div style="padding-top: 5px; width: 250px;">
                <input id="keyWhite" type="password" name="" placeholder="Clave Blanqueada" class="fn_text_add_web_user" style="color:#000; text-align: center;" maxlength="12">
            </div> <br>
            <div style="padding-top: 5px; width: 250px;">
                <input id="keyManager1" type="password" name="" placeholder="Nueva Clave" class="fn_text_add_web_user" style="color:#000; text-align: center;" maxlength="20">
            </div> <br>
            <div style="padding-top: 5px; width: 250px;">
                <input id="keyManager2" type="password" name="" placeholder="Reingrese Clave" class="fn_text_add_web_user" style="color:#000; text-align: center;" maxlength="20">
            </div> <br>
        </div>
         <div class="FN_block-title">
            <span class="fn_title_header_admin_main_menu"></span>
        </div>
                <br>
        <div align="center" style="width: 100%; text-align: center; margin-bottom: 40px; ">
            <input readonly class="confirmButton" value=" Confirmar " onclick="sendDataEditKey();" />
        </div>
       
       
    
    </div>
    <!--TODO: Popup GMDQ-WORKING -->
    <div id="divIframeViewLogin" class="iframe_fn_working" style="display: none;">
        <div class="fn_working_background">
            <div class="box-icon">
                <a onclick="closeElement('divIframeViewLogin');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <iframe id="iFrameView" width="550" height="430" src="../WEB-GMDQ-WORKING/workingGMDQ.html" scrolling="no" frameborder="no"></iframe>
        </div>
    </div>