<script>

var cuit = '55-55555555-1';
function workingDesignPopupLoginGMDQCallback()
{
    showElement("divIframeViewLogin");
}


    $(document).ready(function ()
    {
        //getManagerData( cuit, fillDataManager, failGetDataManager,workingDesignPopupLoginGMDQCallback );
    });
</script>

<div align="center">
    <div class="FN_categories" style="width: 50%; display: inline-block; height: 405px;">
        <div class="FN_block-title">
            <span style="width: 230px;">Datos del comercio seleccionado</span>
        </div>
        <div class="FN_drop-down" style="padding: 10px 10px 20px 10px; text-align: left; margin-left: 10px;">
            <div>
                <b style="font-size: 12px; font-weight: bold;">Numero de comercio:</b>
                <q class="FN_userData">3696</q>
            </div> <br>
            <div style="padding-top: 8px;">
                    <b style="font-size: 12px; font-weight: bold;">Razón social:</b>
                    <q class="FN_userData">FERRO, IRMA EMILIA</q>
            </div> <br>
            <div style="padding-top: 8px;">
                    <b style="font-size: 12px; font-weight: bold;">Nombre de fantasia:</b>
                    <q class="FN_userData">FERRO, IRMA EMILIA</q>
            </div> <br>
            <div style="padding-top: 8px;">
                    <b style="font-size: 12px; font-weight: bold;">Teléfono:</b>
                    <q class="FN_userData"></q>
            </div> <br>
            <div style="padding-top: 8px;">
                    <b style="font-size: 12px; font-weight: bold;">Responsable:</b>
                    <q class="FN_userData"></q>
            </div> <br>
            <div style="padding-top: 8px;">
                    <b style="font-size: 12px; font-weight: bold;">Cargo:</b>
                    <q class="FN_userData"></q>
            </div> <br>
            <div style="padding-top: 8px;">
                    <b style="font-size: 12px; font-weight: bold;">Ubicación:</b>
                    <q class="FN_userData">Calle LIBERTAD, Puerta0097</q>
            </div> <br>
            <div style="padding-top: 8px;">
                    <b style="font-size: 12px; font-weight: bold;">Localidad:</b>
                    <q class="FN_userData">AYACUCHO 7150</q>
            </div> <br>
            <div style="padding-top: 8px;">
                    <b style="font-size: 12px; font-weight: bold;">Contribuyente:</b>
                    <q class="FN_userData">FERRO, IRMA EMILIA</q>
            </div>
        </div>
    </div>


 <!--TODO: Popup GMDQ-WORKING -->
    <div id="divIframeViewLogin" class="iframe_fn_working" style="display: none;">
        <div class="fn_working_background">
            <div class="box-icon">
                <a onclick="closeElement('divIframeViewLogin');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <iframe id="iFrameView" width="550" height="430" src="../WEB-GMDQ-WORKING/workingGMDQ.html" scrolling="no" frameborder="no"></iframe>
        </div>
    </div>


</div>