<script>
function fillTableDDJJ( result_found, data )
{
    if (result_found > 0)
    {
      var itemTemplateHTML =  '<tr style="text-align: center;">'
                                +'<td>|ANIO|</td>'
                                +'<td>|CUOTA|</td>'
                                +'<td>|MONTO_DECLARADO|</td>'
                                +'<td>|FECHA_PRES|</td>'
                             +'</tr>';

        document.getElementById("contentListDDJJ").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillDDJJItem );
    }
    else
    {
        document.getElementById("contentListDDJJ").innerHTML = "";
    }
}

function back_listComercios()
{
    showSectionContent('views/user_table_listado_comercios.html', 'content')
}

 $(document).ready(function()
 {
    document.getElementById("numberCommerceSelected").innerHTML = '  '+ pNroComercio_numberCommerceForListDDJJ;
    document.getElementById("razonSocialCommerceSelected").innerHTML = '  '+razonSocial;

    getListDDJJ( pNroComercio_numberCommerceForListDDJJ, fillTableDDJJ, failGetListDDJJ,workingDesignPopupLoginGMDQCallback );
 });
</script>
<link rel="stylesheet" href="assets/css/fn/jquery.dataTables.min.css" />
<link rel="stylesheet" href="assets/css/fn/table_responsive.css" />
<body style="margin:20px auto">
    <div class="container">
        <div class="row header" style="text-align:center; color:#3B3B3B;">
            <h4>Sistema TISH: Listado de declaraciones juradas</h4>
        </div>
        <table id="myTable" class="table" style="margin-top: 10px;">
            <thead style="background-color: #DDDDDD; padding: 15px 15px 15px 15px;">
                <tr>
                    <th style="text-align: center;"><a onclick="back_listComercios();" style="cursor: pointer; color:#880500; font-weight: bold;"><- Volver</a></th>
                    <th style="text-align: center;"><u>N° Comercio:</u><j id="numberCommerceSelected"></j></th>
                    <th style="text-align: center;"><u>Razon social:</u><j id="razonSocialCommerceSelected"></j></th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <table id="myTable" class="table" style="margin-top: 10px;">
            <thead style="background-color: #3B3B3B; padding: 15px 15px 15px 15px; color: #FFf;">
                <tr>
                    <th style="text-align: center;">Año</th>
                    <th style="text-align: center;">Período</th>
                    <th style="text-align: center;">Monto declarado</th>
                    <th style="text-align: center;">Fecha de presentación</th>
                </tr>
            </thead>
            <tbody id="contentListDDJJ" style="background-color: #FFF;"> </tbody>
            <tfoot style="background-color: #3B3B3B; padding: 15px 15px 15px 15px;">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <!--<th></th>-->
                </tr>
            </tfoot>
         </table>
    </div>
    <div style="width: 100%; text-align: center;" >
        <!--<a class="FN_print_pdf1" download="Informe_DDJJ" onclick="openFilePdf('12345678')"><img src="images/pdf-icon.png" style="width: 17px; height: 35px;">&nbsp; Imprimir listado de DDJJ informadas </a>-->
        <a onclick="showSectionContent('views/user_tasa_inspeccion_s_h.html', 'content');" class="FN_print_pdf3" style="color: #D33642;"> Presentar nueva DDJJ </a>
    </div>
</body>
</html>